
<div class="container-dl-mode">
    <div class="all_hands dl-mode disp">
        <svg class="hand arrow" height="95" viewBox="0 0 73 106" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path" d="M55.1475 101.968C59.7234 93.432 64.0834 82.9569 64.2616 73.1979C64.4538 62.6697 61.1141 52.0275 55.6203 43.1083C46.9866 29.0917 33.0506 20.4949 18.5306 13.4983"/>
            <path id="path2" d="M24.0819 4.25317C22.7912 5.13726 22.2548 6.54111 21.1837 7.66269C19.6177 9.3025 17.8753 11.2244 16.6429 13.1383C14.8323 15.9504 14.0676 19.4943 11.5102 21.6557"/>
            <path id="path3" d="M22.8891 4.25584C18.574 3.77639 14.1708 2.3235 9.70267 2.3235C9.09095 2.3235 2.32013 1.78947 2.45639 2.19825C2.94233 3.65608 3.99763 4.83344 4.675 6.18818C5.17072 7.17962 5.60319 8.18001 5.98112 9.22982C6.46832 10.5831 7.59927 11.5789 8.00292 12.9514C8.75817 15.5192 10.1077 18.3059 11.2951 20.6807"/>
        </svg>
        <svg class="hand text" height="24" viewBox="0 0 558 99" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="path4 a" d="M50.7291 8.33679C50.7291 22.6077 46.5541 36.1572 46.5541 50.5251C46.5541 58.2664 46.972 65.6722 47.92 73.2558C48.2878 76.1987 48.5681 79.7557 49.5694 82.5594C50.3683 84.7964 50.388 87.6145 51.6569 89.5178"/>
            <path class="path4 b" d="M46.8183 60.6454C45.9854 60.7495 45.326 62.7592 44.9924 63.4263C44.5534 64.3043 44.1802 65.1009 43.7283 65.9545C42.7252 67.8492 42.0834 69.7391 41.0036 71.6287C39.8875 73.5819 38.3228 75.2736 37.2114 77.2187C36.1162 79.1352 34.3145 82.0804 32.4079 83.2019C31.5756 83.6915 30.5748 84.6888 29.8236 85.3649C29.0031 86.1033 27.7802 86.4147 26.846 86.8818C24.3219 88.1438 21.3608 89.0758 18.6296 88.4689C16.5622 88.0094 13.3731 87.151 12.4357 85.0418C11.5134 82.9666 9.52473 80.9281 9.40194 78.5951C9.33433 77.3105 8.6435 76.1374 8.6435 74.8029C8.6435 73.6783 8.39069 72.4587 8.39069 71.2635C8.39069 70.2856 8.06845 68.6229 8.44687 67.7241C8.90449 66.6373 9.14913 64.4967 9.14913 63.2999C9.14913 62.1504 9.87394 60.7658 10.1604 59.6201C10.5346 58.123 11.0373 56.6281 11.4385 55.2239C11.5504 54.8322 12.0758 53.7584 12.3233 53.4402C12.9819 52.5934 13.21 51.5492 13.8262 50.6593C14.6927 49.4076 15.6856 48.0708 16.4245 46.7407C16.928 45.8345 17.902 44.2969 18.756 43.7631C19.8849 43.0575 20.5925 41.6473 21.7898 40.9821C22.8142 40.413 23.8845 39.2965 25.0763 39.1563C26.8091 38.9524 28.7529 37.1338 30.5118 37.1338C31.4843 37.1338 32.4967 36.3753 33.5456 36.3753C34.6926 36.3753 36.0673 35.9257 37.099 35.6309C39.2393 35.0194 41.948 35.8697 44.0373 35.8697"/>
            <path class="path4 c" d="M104.804 39.2135C102.589 36.9987 98.54 35.8317 95.5036 35.8317C91.6947 35.8317 89.1128 37.6651 85.8656 39.2887C82.9886 40.7271 80.8675 44.3594 78.9517 46.8225C76.8619 49.5094 75.5896 53.1683 75.0251 56.2727C74.7094 58.0094 74.6685 60.6025 73.9542 62.2096C73.1121 64.1044 73.6912 67.2824 73.6912 69.3113C73.6912 70.9894 73.3607 73.045 74.1985 74.553C74.8591 75.7423 75.3673 77.2912 75.739 78.5924C76.4956 81.2403 79.682 85.5386 82.1456 86.6335C83.4758 87.2247 84.9093 86.7823 85.9407 85.9571C86.5297 85.486 88.4486 84.4936 88.571 83.5147C88.7242 82.2891 90.4344 81.0975 90.9382 79.9639C91.625 78.4188 92.6188 77.1127 93.3055 75.5676C94.5853 72.6881 96.516 70.1799 97.9648 67.2822C99.3456 64.5206 101.2 62.1176 102.436 59.3351C103.638 56.6322 105.48 53.1436 105.48 50.2043C105.48 49.1928 106.124 46.9806 106.57 45.977C107.227 44.4986 107.509 41.8407 107.509 40.228C107.509 38.2255 106.78 44.1669 106.476 46.1461C105.995 49.2719 106.494 52.2062 106.494 55.2769C106.494 63.6394 111.824 70.501 115.287 77.4276"/>
            <path class="path4 d" d="M138.621 31.7736C137.316 34.239 136.893 36.7137 136.611 39.5329C136.459 41.053 136.248 42.4547 135.916 43.9479C135.574 45.4846 135.87 47.1869 135.409 48.6636C134.625 51.1706 134.901 53.9215 134.901 56.5357C134.901 59.1972 134.563 61.8737 134.563 64.5768C134.563 69.9004 134.901 75.4415 134.901 80.6402C134.901 81.6156 134.782 82.6058 135.164 83.5147C135.244 83.704 135.252 85.7195 135.503 85.4686C135.674 85.2969 136.074 83.4561 136.179 83.1014C136.682 81.4047 136.642 79.4917 137.006 77.7657C137.555 75.1579 137.504 72.3509 138.283 69.8185C139.063 67.2852 139.739 64.6558 140.801 62.2283C142.404 58.5643 144.886 54.1033 147.677 51.3127C150.677 48.3128 152.709 44.3196 156.037 41.731C159.399 39.1167 162.612 37.0253 166.352 35.1553"/>
            <path class="path4 e" d="M191.715 10.8066C191.305 14.4972 189.486 18.3012 188.672 21.9664C187.856 25.6348 187.995 29.3667 187.995 33.1263C187.995 36.8757 188.275 40.7404 187.976 44.474C187.642 48.6511 187.076 52.8723 186.981 57.0617C186.826 63.8819 186.642 70.6067 186.642 77.4275C186.642 79.6497 186.49 81.9004 186.962 84.022C187.153 84.8836 186.706 85.9285 187.15 86.7274C187.427 87.2263 187.657 88.7216 187.657 89.2637"/>
            <path class="path4 f" d="M221.475 34.8172C221.374 35.6199 220.366 36.9486 219.953 37.6917C219.125 39.1828 218.304 40.4162 217.266 41.7498C216.135 43.2042 213.807 46.7232 211.987 47.3298C209.939 48.0124 207.782 50.5583 206.088 51.8764C203.557 53.845 200.309 55.259 197.614 56.7987C195.874 57.7932 194.016 59.4531 195.172 61.5332C196.818 64.4957 201.731 65.5931 204.566 66.8689C206.291 67.6454 208.288 67.8094 209.977 68.5598C211.756 69.3506 214.077 70.5594 216.064 70.664C218.72 70.8038 221.276 72.6931 224.18 72.6931"/>
            <path class="path4 g" d="M242.78 54.4315C242.958 55.8571 251.233 55.7131 252.174 55.7654C256.279 55.9935 260.357 55.7842 264.442 55.7842C271.377 55.7842 278.486 54.4315 285.39 54.4315"/>
            <path class="path4 h" d="M308.361 35.2129C308.361 41.4843 308.361 47.7558 308.361 54.0273C308.361 57.3636 307.933 60.5671 307.933 63.8983C307.933 65.8768 307.48 68.4532 308.147 70.3204C308.737 71.9735 308.692 74.993 308.789 76.7425C308.825 77.3853 309.016 81.8913 309.122 81.785C309.523 81.3845 309.563 79.6558 309.669 79.0734C310.023 77.1278 310.603 75.1624 311.025 73.2222C311.73 69.9797 313.317 66.3155 313.499 63.042C313.615 60.9437 314.922 58.8304 315.639 56.8577C316.656 54.0621 318.77 52.1438 319.921 49.5556C321.539 45.9144 324.418 43.7264 327.413 41.3971C329.392 39.8579 331.91 38.638 334.477 38.638C336.397 38.638 338.432 37.4559 340.257 38.8759C343.546 41.4337 344.325 47.6658 344.325 51.4822C344.325 53.4802 344.325 55.4782 344.325 57.4762C344.325 58.578 344.216 62.3214 343.563 63.1371C342.665 64.2597 343.673 67.0673 342.707 68.2748C342.497 68.5375 341.943 70.2559 342.398 69.8922C342.729 69.6277 343.632 67.6853 343.801 67.2282C345.955 61.412 348.402 55.6362 350.961 50.0075C352.275 47.1168 353.94 41.1395 357.383 40.3744C360.415 39.7006 366.237 40.1505 367.967 42.9194C370.801 47.4524 371.297 54.9746 371.297 60.4731C371.297 68.4651 371.297 76.457 371.297 84.449"/>
            <path class="path4 i" d="M411.64 33.8926C411.561 34.5212 408.576 35.2755 407.996 35.6443C406.514 36.5876 404.948 37.2247 403.441 38.0618C402.004 38.8603 401.17 40.6942 399.798 41.4427C398.587 42.1031 397.706 43.486 397.135 44.7711C395.928 47.4871 395.497 50.5917 394.682 53.4424C393.78 56.6022 393.351 59.9282 393.351 63.2348C393.351 66.5274 393.133 69.2569 394.77 72.2039C395.429 73.3906 395.969 74.2083 396.96 75.1995C397.91 76.1499 399.202 76.5622 400.218 77.4768C401.609 78.7289 404.711 79.9293 406.595 79.9293C408.081 79.9293 409.274 80.4577 410.764 79.9994C411.938 79.638 412.854 78.9804 413.917 78.5979C415.273 78.1099 416.126 77.0593 417.473 76.4608C418.562 75.9767 420.272 74.6701 420.854 73.6229C421.534 72.3987 422.732 71.6052 423.307 70.312C423.803 69.1946 424.144 67.891 424.725 66.8435C425.669 65.1449 426.387 61.7216 426.46 59.8189C426.567 57.0247 427.09 54.406 427.09 51.5505C427.09 46.599 426.99 41.019 423.867 37.1158C420.695 33.1505 416.411 32.9466 411.64 32.9466"/>
            <path class="path4 j" d="M491.1 9.61292C491.1 10.7232 491.017 11.9531 490.715 13.0114C490.157 14.9638 490.397 17.3593 490.172 19.3878C489.743 23.248 490.289 27.3021 489.594 31.1248C487.994 39.9216 488.892 49.3897 489.208 58.2423C489.323 61.4369 489.839 64.5836 489.839 67.7895C489.839 69.0352 490.154 70.4131 490.154 71.7485C490.154 73.2335 489.68 75.7292 490.224 77.0914C490.661 78.1832 490.409 79.4005 490.47 80.5599C490.529 81.6817 491.1 82.758 491.1 83.8708C491.1 85.5567 492.046 87.3736 492.046 89.0736"/>
            <path class="path4 k" d="M484.163 35.7845C481.979 35.7845 479.796 35.7845 477.612 35.7845C475.222 35.7845 473.26 36.5782 471.077 37.0633C468.444 37.6484 466.013 39.9023 463.667 41.0749C461.666 42.0757 457.955 44.9315 457.046 46.9783C456.56 48.0702 455.544 49.0951 455.014 50.3067C454.579 51.3009 454.449 52.1147 453.735 52.9869C453.376 53.4262 452.947 54.2799 452.947 54.8614C452.947 57.847 450.911 60.8414 450.739 63.848C450.649 65.4222 450.188 67.629 449.723 69.1383C449.303 70.5051 449.478 72.0234 449.478 73.4652C449.478 74.7577 449.793 76.021 449.793 77.2491C449.793 78.6327 450.353 79.9829 450.424 81.1906C450.543 83.2046 451.877 85.4828 452.877 87.1817C453.73 88.632 455.432 90.0195 457.203 90.0195C458.198 90.0195 459.279 90.3349 460.357 90.3349C461.561 90.3349 462.517 89.2089 463.667 89.0736C464.164 89.0151 465.507 88.1597 465.875 87.8123C466.833 86.907 467.711 86.1951 468.537 85.1321C471.812 80.9213 476.481 77.9903 479.118 73.1324C480.586 70.4283 482.441 67.6615 484.303 65.2669C485.781 63.3671 486.905 61.1542 488.262 59.1182"/>
            <path class="path4 l" d="M516.641 59.1182C519.069 59.1182 521.491 60.0641 524.051 60.0641C527.047 60.0641 530.222 59.9145 533.038 59.7488C535.966 59.5766 537.888 58.3638 540.448 57.2262C542.667 56.2402 543.949 54.2989 545.808 52.8118C547.47 51.4823 549.315 47.9052 549.435 45.8747C549.55 43.9047 548.941 40.4766 547.473 39.0077C545.544 37.0787 543.328 36.5613 541.079 35.3115C538.697 33.9884 535.367 34.8385 532.88 34.8385C530.086 34.8385 527.679 37.15 525.47 38.3771C523.052 39.7205 521.254 42.7424 519.952 45.0864C518.389 47.9006 516.957 50.807 516.957 54.073C516.957 55.7152 516.641 57.2759 516.641 58.9605C516.641 60.2337 515.848 61.9151 516.396 63.2173C516.985 64.6163 516.878 66.2832 517.517 67.6318C518.223 69.1213 518.819 70.7193 519.479 72.2039C520.806 75.1883 524.337 77.9223 527.064 79.4563C529.677 80.926 532.909 81.5059 535.876 81.5059C539.496 81.5059 543.722 81.4363 547.227 80.5599"/>
        </svg>
        <svg class="hand underline" height="6" viewBox="0 0 127 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path5" d="M2.08121 4.44719C12.2653 3.93798 22.404 2.23913 32.6256 2.09617C52.0359 1.8247 71.2677 4.11804 90.6298 4.91739C102.215 5.39569 113.703 4.47103 124.973 1.73882"/>
        </svg>
    </div>
</div>

<style>

    .container-dl-mode
    {
        position: absolute;
        width: 136px;
        height: 150px;
        top: 9%;
        left: calc(2vw + 40px);
        z-index: 1;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*top: 9%;
        left: calc(2vw + 40px);*/
    }

    .disp
    {
        display: none;
    }

    .all_hands .hand.text
    {
        margin: 16px 0 8px 0;
    }

    .all_hands .hand.arrow path,
    .all_hands .hand.underline path
    {
        stroke: var(--clr-font);
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.arrow #path
    {
        stroke-dasharray: 111;
        stroke-dashoffset: 111;
        animation: write .16s ease-in 2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path2
    {
        stroke-dasharray: 22;
        stroke-dashoffset: 22;
        animation: write .16s ease-in 2.32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path3
    {
        stroke-dasharray: 42;
        stroke-dashoffset: 42;
        animation: write .12s ease-in 2.48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4
    {
        stroke: var(--clr-font);
        stroke-width: 12px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.text .path4.a
    {
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        animation: write .16s ease-in;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.b
    {
        stroke-dasharray: 128;
        stroke-dashoffset: 128;
        animation: write .16s ease-in .16s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.c
    {
        stroke-dasharray: 182;
        stroke-dashoffset: 182;
        animation: write .16s ease-in .32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.d
    {
        stroke-dasharray: 118;
        stroke-dashoffset: 118;
        animation: write .16s ease-in .48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.e
    {
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        animation: write .16s ease-in .64s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.f
    {
        stroke-dasharray: 72;
        stroke-dashoffset: 72;
        animation: write .16s ease-in .8s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.g
    {
        stroke-dasharray: 52;
        stroke-dashoffset: 52;
        animation: write .16s ease-in .96s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.h
    {
        stroke-dasharray: 228;
        stroke-dashoffset: 228;
        animation: write .16s ease-in 1.2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.i
    {
        stroke-dasharray: 132;
        stroke-dashoffset: 132;
        animation: write .16s ease-in 1.36s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.j
    {
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        animation: write .16s ease-in 1.52s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.k
    {
        stroke-dasharray: 126;
        stroke-dashoffset: 126;
        animation: write .16s ease-in 1.68s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.l
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in 1.84s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.underline #path5
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .24s ease-in 2.72s;
        animation-fill-mode: forwards;
    }

    @keyframes write
    {
        to {
            stroke-dashoffset: 0;
        }
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>