<div class="container-signature">
    <div class="all_hands signature disp">
        <svg class="hand arrow" height="69" viewBox="0 0 46 69" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path" d="M44.504 2C33.178 2 23.2851 12.5076 21.9577 23.6093C21.5533 26.9911 21.8483 30.3085 23.3046 33.3892C24.1248 35.1243 25.5597 37.0274 25.9399 38.894C27.3753 45.9404 24.645 50.3201 19.7323 55.2328"/>
            <path id="path2" d="M19.3798 55.6334C19.1419 55.6631 18.6749 56.1745 18.4163 56.3114C18.0564 56.5019 17.6988 56.7575 17.2922 56.7575"/>
            <path id="path3" d="M10.1749 48.5789C11.0585 49.8372 11.5799 51.3332 12.3662 52.6558C13.2371 54.1206 14.1114 55.5806 14.9982 57.0363C16.5496 59.583 18.2197 62.4796 18.8901 65.4037"/>
            <path id="path4" d="M9.31875 50.1414C8.64468 50.8798 8.26117 52.1439 7.86185 53.056C7.25794 54.4355 6.54691 55.7449 5.87843 57.095C4.90487 59.0612 3.5371 60.8537 2.73177 62.9017C2.52098 63.4378 2.33749 63.9713 2.1085 64.4867C1.78232 65.2208 4.73367 65.6774 5.04564 65.7108C7.94293 66.021 10.8603 66.3491 13.7699 66.5018C15.4766 66.5914 18.3213 67.304 19.9419 66.6805"/>
        </svg>
        <div class="hand_font">
            <svg class="hand text" height="29" viewBox="0 0 477 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path5 a" d="M40.9273 41.3116C40.6766 39.0554 36.6959 36.7149 35.3868 35.0785C34.1305 33.5081 31.1692 32.5115 29.3847 31.7183C24.8565 29.7058 20.1622 31.6065 16.6878 34.386C13.8292 36.6728 14.0859 44.0666 15.1744 47.2111C16.9811 52.4304 22.5552 57.5674 26.3836 61.3958C30.5465 65.5587 35.5814 69.2719 38.3879 74.3235C39.3363 76.0306 40.3157 79.047 39.4396 81.0183C38.3304 83.5139 35.9587 84.2544 34.1043 85.7379C32.7046 86.8577 29.474 87.4821 27.7687 87.4821C25.3524 87.4821 23.3076 87.9606 20.8175 87.5078C18.0922 87.0123 15.1799 86.7411 12.7633 85.5327C11.4151 84.8586 7.1595 82.6026 7.6845 82.8651"/>
                <path class="path5 b" d="M65.8594 34.8477C65.8594 39.6911 64.0126 44.3151 64.0126 49.1349C64.0126 53.5389 63.0892 57.6824 63.0892 62.0883C63.0892 66.7667 62.6275 71.6337 62.6275 76.4012C62.6275 79.627 64.0126 82.8472 64.0126 86.097"/>
                <path class="path5 c" d="M65.8594 8.06873V8.53043"/>
                <path class="path5 d" d="M122.188 33.9243C119.283 33.9243 116.528 33.4626 113.646 33.4626C110.599 33.4626 108.953 35.4969 106.259 36.6945C101.534 38.7943 98.4293 45.8234 95.6395 49.8531C92.1554 54.8857 91.5557 61.4607 93.3309 67.1414C93.9782 69.2128 95.4497 73.4053 97.4606 74.5544C98.3689 75.0734 99.4094 76.2127 100.385 76.8629C101.687 77.7313 103.068 77.7321 104.412 78.4789C108.853 80.9462 113.843 76.0313 117.109 73.9901C121.242 71.4065 123.334 64.74 124.855 60.3441C126.456 55.7193 126.805 51.3686 126.805 46.3903C126.805 44.0502 127.001 41.5606 126.24 39.3621C125.509 37.25 123.26 33.0756 121.264 32.0775"/>
                <path class="path5 e" d="M87.5596 95.7928C87.3941 97.4482 86.6861 98.7825 87.457 100.41C87.9502 101.451 88.2267 102.616 88.7395 103.642C89.2099 104.583 90.3365 104.949 90.7915 105.745C93.2828 110.105 99.4736 111.338 103.488 113.569C106.437 115.206 111.755 113.415 114.339 112.055C115.945 111.21 117.011 109.742 118.263 108.49C119.296 107.457 120.238 105.104 121.264 104.463C122.665 103.587 123.291 99.5465 124.034 98.1014C124.988 96.2464 125.066 93.9891 126.138 92.3044C127.392 90.3326 127.562 86.4656 127.728 84.1476C127.914 81.5482 128.19 79.0395 128.19 76.3755C128.19 70.57 128.977 64.1258 127.369 58.4973C126.989 57.1691 127.377 55.6293 127.241 54.265C126.948 51.3405 126.183 48.4143 125.676 45.5182C125.147 42.4973 125.419 39.2997 125.419 36.2328"/>
                <path class="path5 f" d="M150.813 35.3094C150.813 39.5688 151.737 43.6749 151.737 47.9806C151.737 52.9678 152.198 58.0578 152.198 63.1143C152.198 66.4318 152.198 69.7492 152.198 73.0666C152.198 76.2816 153.584 79.4055 153.584 82.6342C153.584 83.6827 153.47 85.3749 153.584 83.3268C153.684 81.5199 154.21 79.3845 154.507 77.5298C155.169 73.3933 156.354 68.7367 156.354 64.6277C156.354 61.0855 158.388 57.3273 159.586 54.0341C160.708 50.9468 163.109 48.5613 164.305 45.5695C165.287 43.1164 168.109 41.2982 169.384 39.003C170.671 36.6861 173 36.1068 174.822 34.3859C176.773 32.5434 179.73 32.5391 182.209 32.5391C185.329 32.5391 187.288 36.9209 187.288 39.6956C187.288 47.5908 186.826 55.3335 186.826 63.2169C186.826 68.7928 187.75 74.2036 187.75 79.6331"/>
                <path class="path5 g" d="M240.846 37.1562C238.744 35.2877 233.762 35.7711 231.15 35.7711C227.808 35.7711 225.785 35.8278 222.942 37.6179C221.318 38.6405 220.218 38.8028 218.889 40.1317C217.833 41.1882 216.561 42.2705 215.811 43.6201C214.083 46.7302 211.983 49.0168 211.322 52.649C210.122 59.2511 210.853 66.193 211.784 72.7076C212.169 75.4029 213.813 78.7384 215.452 80.7874C216.788 82.4567 220.85 82.5139 222.839 82.4034C229.993 82.006 231.732 71.9209 235.665 67.9879C236.499 67.1535 237.294 65.0548 237.614 63.9352C238.123 62.1532 239.715 60.7228 239.923 58.8564C240.115 57.1209 240.846 55.6624 240.846 53.8033C240.846 52.1788 240.846 50.5542 240.846 48.9297C240.846 48.4007 240.988 44.429 241.205 44.6461C242.22 45.6611 242.911 49.3604 243.129 50.7765C243.761 54.8826 244.54 59.2459 244.54 63.4734C244.54 67.4886 246.548 74.8659 250.542 76.8629"/>
                <path class="path5 h" d="M282.399 14.5327C282.25 15.7291 281.064 16.9937 281.014 18.3289C280.9 21.4102 279.944 24.3934 279.604 27.4604C279.353 29.7129 278.244 32.1832 278.244 34.386C278.244 36.5406 278.244 38.6953 278.244 40.8499C278.244 48.844 278.706 56.9655 278.706 64.8586C278.706 67.9915 279.719 72.9607 281.245 75.7087C281.989 77.0473 282.667 78.4858 283.528 79.8384C284.727 81.7227 285.677 81.2438 287.478 82.0443C289.871 83.1078 292.733 84.3907 295.558 83.7629C298.003 83.2197 299.899 80.185 300.868 78.2481"/>
                <path class="path5 i" d="M265.316 35.7711C269.982 35.7711 274.263 36.6945 278.937 36.6945C280.904 36.6945 282.373 35.7711 284.246 35.7711C286.179 35.7711 290.546 34.9573 292.095 33.9243"/>
                <path class="path5 j" d="M327.185 35.3094C324.835 35.5705 324.279 43.1961 323.722 44.9796C322.569 48.6688 322.824 52.6758 321.747 56.4453C321.045 58.9025 321.183 62.9949 321.183 65.5511C321.183 68.4738 322.383 71.0674 323.004 73.8618C323.484 76.0211 326.139 80.4885 328.108 81.5826C330.04 82.6554 333.426 82.889 335.726 82.3777C338.264 81.8138 340.607 79.491 341.96 77.4272C344.998 72.789 347.108 67.954 349.449 63.0117C351.046 59.642 351.891 55.0902 354.169 52.1616C355.158 50.8899 354.736 48.281 355.246 46.7494C355.781 45.1454 356.644 43.483 356.734 41.7733C356.812 40.2874 357.367 38.8692 357.632 37.4127C357.805 36.4607 357.726 40.5121 357.632 41.3629C357.114 46.0194 357.658 50.3095 357.658 54.9319C357.658 58.2674 357.786 61.6285 357.658 64.9612C357.547 67.8273 357.049 70.0831 357.683 72.9384C358.088 74.7586 359.27 78.5914 360.53 79.9923C361.583 81.162 363.433 82.8725 364.121 84.2502"/>
                <path class="path5 k" d="M387.207 31.6157C387.207 36.9663 386.125 43.5172 387.309 48.6988C388.287 52.9746 388.13 57.6843 388.13 62.0883C388.13 65.782 388.13 69.4756 388.13 73.1692C388.13 75.6746 386.884 83.058 386.745 80.5565C386.399 74.3334 388.137 65.913 391.362 60.6006C392.401 58.8886 393.007 56.9539 394.132 55.2653C395.603 53.0591 397.6 50.9515 398.852 48.6988C400.098 46.4558 402.332 44.847 403.828 42.7993C404.828 41.4311 406.608 40.382 407.419 39.003C408.13 37.7948 410.238 36.5583 411.421 35.8737C413.145 34.8754 414.866 33.169 416.756 32.5391"/>
                <path class="path5 l" d="M433.839 57.0096C437.032 57.0096 440.26 59.3903 443.535 59.7542C445.985 60.0264 449.375 60.1171 451.64 59.0872C455.477 57.3431 462.853 55.8391 463.876 51.2382C464.553 48.1883 466.167 45.1408 464.773 42.0041C463.771 39.75 463.833 36.9418 461.31 35.5403C459.694 34.6422 455.733 34.386 453.923 34.386C450.609 34.386 448.107 36.3448 445.612 38.2848C439.624 42.9425 435.51 46.4197 435.224 54.1367C435.009 59.9537 435.26 66.439 437.635 71.7842C439.688 76.4019 446.311 80.159 451.281 80.5566C456.577 80.9802 464.023 82.4418 468.929 79.1715"/>
            </svg>
            <svg class="hand underline" height="8" viewBox="0 0 114 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="path6" d="M2 5.3784C10.8621 4.03565 19.9146 3.35136 28.977 3.35136C38.0269 3.35136 47.0675 4.50289 56.1191 4.74026C62.4971 4.90751 68.8748 5.42251 75.2508 5.71624C80.5405 5.95993 85.8418 6.1077 91.1341 5.90393C98.3711 5.62528 104.939 3.7653 112 2"/>
            </svg>
        </div>
    </div>
</div>

<style>
    .container-signature
    {
        position: absolute;
        width: 172px;
        height: 89px;
        left: calc(2vw + 90px);
        bottom: calc(2vw + 40px);
        z-index: 1;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .disp
    {
        display: none;
    }

    .all_hands .hand.arrow path,
    .all_hands .hand.underline path
    {
        stroke: #000;
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin: 0 0 50px 12px;
    }

    .all_hands .hand_font .hand.text
    {
        margin-bottom: 2px;
    }

    .all_hands .hand.arrow #path
    {
        stroke-dasharray: 111;
        stroke-dashoffset: 111;
        animation: write .16s ease-in 2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path2
    {
        stroke-dasharray: 22;
        stroke-dashoffset: 22;
        animation: write .001s ease-in 2.32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path3
    {
        stroke-dasharray: 42;
        stroke-dashoffset: 42;
        animation: write .16s ease-in 2.32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path4
    {
        stroke-dasharray: 42;
        stroke-dashoffset: 42;
        animation: write .12s ease-in 2.48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5
    {
        stroke: #000;
        stroke-width: 12px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.text .path5.a
    {
        stroke-dasharray: 121;
        stroke-dashoffset: 121;
        animation: write .16s ease-in;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.b
    {
        stroke-dasharray: 54;
        stroke-dashoffset: 54;
        animation: write .16s ease-in .16s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.c
    {
        stroke-dasharray: 8;
        stroke-dashoffset: 8;
        animation: write .16s ease-in .32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.d
    {
        stroke-dasharray: 128;
        stroke-dashoffset: 128;
        animation: write .16s ease-in .48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.e
    {
        stroke-dasharray: 122;
        stroke-dashoffset: 122;
        animation: write .16s ease-in .64s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.f
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .8s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.g
    {
        stroke-dasharray: 156;
        stroke-dashoffset: 156;
        animation: write .16s ease-in .96s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.h
    {
        stroke-dasharray: 88;
        stroke-dashoffset: 88;
        animation: write .16s ease-in 1.2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.i
    {
        stroke-dasharray: 42;
        stroke-dashoffset: 42;
        animation: write .16s ease-in 1.36s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.j
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in 1.52s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.k
    {
        stroke-dasharray: 126;
        stroke-dashoffset: 126;
        animation: write .16s ease-in 1.68s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path5.l
    {
        stroke-dasharray: 142;
        stroke-dashoffset: 142;
        animation: write .16s ease-in 1.84s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.underline #path6
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .24s ease-in 2.72s;
        animation-fill-mode: forwards;
    }

    @keyframes write
    {
        to {
            stroke-dashoffset: 0;
        }
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>