<div class="all_hands">
    <svg class="hand arrow" height="69" viewBox="0 0 46 69" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="path" d="M44.504 2C33.178 2 23.2851 12.5076 21.9577 23.6093C21.5533 26.9911 21.8483 30.3085 23.3046 33.3892C24.1248 35.1243 25.5597 37.0274 25.9399 38.894C27.3753 45.9404 24.645 50.3201 19.7323 55.2328" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path id="path" d="M19.3798 55.6334C19.1419 55.6631 18.6749 56.1745 18.4163 56.3114C18.0564 56.5019 17.6988 56.7575 17.2922 56.7575" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path id="path" d="M10.1749 48.5789C11.0585 49.8372 11.5799 51.3332 12.3662 52.6558C13.2371 54.1206 14.1114 55.5806 14.9982 57.0363C16.5496 59.583 18.2197 62.4796 18.8901 65.4037" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path id="path" d="M9.31875 50.1414C8.64468 50.8798 8.26117 52.1439 7.86185 53.056C7.25794 54.4355 6.54691 55.7449 5.87843 57.095C4.90487 59.0612 3.5371 60.8537 2.73177 62.9017C2.52098 63.4378 2.33749 63.9713 2.1085 64.4867C1.78232 65.2208 4.73367 65.6774 5.04564 65.7108C7.94293 66.021 10.8603 66.3491 13.7699 66.5018C15.4766 66.5914 18.3213 67.304 19.9419 66.6805" stroke="black" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <div class="hand_font">
        <svg class="hand text" height="29" viewBox="0 0 120 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path" d="M11.872 21.016C10.912 22.776 8.128 23.704 5.792 23.704C5.216 23.704 4.672 23.672 4.192 23.544C3.744 23.448 1.76 22.872 1.376 22.616C0.96 22.392 0.608 21.944 0.48 21.496C0.128 20.184 1.12 19.032 2.336 19.032C2.56 19.032 2.784 19.064 3.008 19.16C3.936 19.512 4.896 19.864 5.888 19.864C6.688 19.864 7.52 19.672 8.224 19.288C8.32 19.256 8.512 19.192 8.512 19.096C8.512 18.328 7.072 17.272 6.496 16.824C5.632 16.152 4.768 15.48 4 14.744C3.392 14.168 2.816 13.528 2.496 12.76C2.112 11.832 2.336 10.584 2.912 9.752C4.032 8.088 5.504 6.744 7.616 6.744C9.28 6.744 11.488 8.312 12.288 9.656C12.608 10.232 12.64 11.064 12.256 11.608C11.872 12.248 11.296 12.568 10.528 12.568C10.048 12.568 9.376 12.216 9.12 11.832C8.96 11.576 7.84 10.552 7.52 10.552C7.168 10.584 6.528 11.288 6.304 11.576C6.24 11.64 6.368 11.704 6.432 11.768C7.456 12.76 8.608 13.56 9.696 14.456C11.104 15.64 12.352 17.048 12.352 19C12.384 19.704 12.192 20.408 11.872 21.016ZM17.9845 3.64C17.6325 3.8 17.2165 3.896 16.8325 3.896C16.2245 3.896 15.5205 3.448 15.2645 2.936C14.9765 2.36 14.9125 1.528 15.2645 1.016C15.6805 0.407999 16.3845 0.0559998 17.0565 0.0559998C17.4725 0.0559998 17.9205 0.183998 18.2725 0.504C18.7845 0.919998 19.0405 1.624 18.9125 2.296C18.8165 2.84 18.4645 3.384 17.9845 3.64ZM17.8565 23.256C17.5365 23.48 17.1525 23.576 16.7685 23.576C15.0725 23.576 14.8485 22.136 14.7525 20.824C14.5605 17.656 14.5605 14.456 14.7205 11.288C14.7845 10.36 14.9445 8.6 15.4565 7.832C15.8725 7.256 16.3845 6.904 17.1205 6.904C18.1125 6.904 19.0405 7.672 19.0405 8.824C19.0405 9.304 18.8165 9.752 18.6885 10.2C18.5605 10.776 18.4645 13.592 18.4645 14.168C18.4325 15.224 18.4325 20.248 18.6245 21.24C18.7845 22.072 18.4965 22.776 17.8565 23.256ZM33.3708 25.816C32.3468 28.44 30.0428 30.264 27.1628 30.264C23.8988 30.264 21.4988 28.088 20.6028 25.08C20.4428 24.504 20.3788 23.864 20.5388 23.288C20.7948 22.296 21.5948 21.848 22.3628 21.848C23.3228 21.848 24.2828 22.52 24.2828 23.768C24.3148 25.208 25.7548 26.424 27.1308 26.424C30.0108 26.424 30.4268 22.616 30.4908 20.44C29.4988 21.176 28.5708 21.592 27.3228 21.592C25.0508 21.592 23.1308 20.216 22.2988 18.104C21.8828 17.112 21.8508 15.96 21.9468 14.904C22.2028 12.504 23.4828 10.168 25.1788 8.472C26.4268 7.224 27.7708 6.168 29.6267 6.168C30.1068 6.2 31.6428 6.392 32.0268 6.68C32.3148 6.872 32.6028 7.128 32.7628 7.48C32.7948 7.544 32.8908 7.512 32.9548 7.544C33.4668 7.768 33.9468 8.216 34.1068 8.728C34.3308 9.432 34.3308 10.2 34.2668 10.936C34.2348 11.704 34.1708 12.44 34.0428 13.208C34.0428 13.24 34.0428 13.24 34.0428 13.272C34.1388 15.736 34.3948 18.2 34.3308 20.664C34.2668 22.392 34.0428 24.184 33.3708 25.816ZM25.8188 16.536C26.0108 17.24 26.5868 17.784 27.2588 17.784C28.8588 17.784 29.9148 14.456 30.1388 13.208C30.2348 12.792 30.1708 10.552 30.2028 10.104C30.1068 10.104 29.5948 10.008 29.4668 10.008C29.1788 10.04 28.5068 10.584 28.2828 10.776C27.2908 11.672 26.4588 12.888 26.0428 14.168C25.7868 14.936 25.5948 15.768 25.8188 16.536ZM40.3975 22.072C40.0135 22.744 39.3415 23.096 38.6695 23.096C37.8695 23.096 37.0695 22.616 36.8135 21.72C36.5895 20.952 36.5575 17.432 36.5575 16.664C36.5575 15.608 36.7175 9.784 36.8135 8.728C36.9095 7.672 37.8055 6.936 38.8295 6.936C39.5655 6.936 40.3975 7.416 40.5895 8.184C40.6855 8.504 40.7815 8.856 40.6855 9.176C40.6215 9.464 40.5895 9.752 40.5575 10.04C41.3255 8.856 42.2535 7.672 43.4695 7C44.3335 6.52 45.3255 6.232 46.2855 6.36C48.1735 6.712 49.0375 8.728 49.2295 10.456C49.6455 13.848 49.4535 17.304 49.3255 20.696C49.2935 21.88 48.3655 22.68 47.4055 22.68C46.3175 22.68 45.4855 21.752 45.4855 20.696C45.5815 17.784 45.7415 14.872 45.5495 11.96C45.5175 11.416 45.4535 10.872 45.2935 10.36C43.2455 11.672 41.4535 17.496 40.9735 19.736C40.9095 20.088 40.5895 21.752 40.3975 22.072ZM60.676 18.648C59.716 20.664 58.34 23.608 55.748 23.608C53.156 23.608 51.556 20.952 51.3 18.616C51.044 16.216 51.556 13.72 52.548 11.544C53.732 9.08 55.332 7 58.34 7C59.236 7 60.164 7.128 60.964 7.512C61.252 7.672 61.572 7.768 61.828 7.992C62.34 8.408 62.628 9.24 62.468 9.88C62.852 10.136 63.172 10.52 63.268 10.936C63.46 11.608 63.524 12.28 63.62 12.952C63.844 14.904 64.068 16.888 64.74 18.744C65.22 20.12 64.164 21.336 62.948 21.336C61.412 21.336 60.996 19.864 60.676 18.648ZM55.14 18.232C55.204 18.712 55.428 19.192 55.684 19.64C56.996 18.104 58.02 15.192 58.628 13.336C58.724 13.048 59.268 11.32 59.396 11.032C58.98 10.84 58.532 10.808 58.084 10.84C57.796 10.84 57.476 11.032 57.284 11.256C56.164 12.376 55.556 14.104 55.236 15.608C55.076 16.472 55.012 17.368 55.14 18.232ZM77.4123 20.504C76.6763 22.104 74.7563 22.904 73.0603 22.904C69.8923 22.904 68.5803 20.92 68.2923 18.072C68.0363 15.704 68.0043 13.336 68.2283 10.968C67.2682 10.904 66.4363 10.744 65.8603 9.88C65.0922 8.472 66.1803 6.936 67.5883 6.936C67.8443 6.936 68.1323 7 68.4203 7.128C68.4523 7.16 68.6123 7.16 68.6123 7.128C68.6443 6.552 68.8363 4.184 69.0603 3.672C69.4443 2.808 69.9883 2.136 71.0123 2.136C71.7483 2.136 72.4203 2.52 72.7723 3.224C73.0283 3.8 72.9963 4.6 72.6443 5.112C72.5483 5.752 72.5163 6.392 72.4523 7.032C72.9323 6.936 73.4123 6.744 73.8923 6.744C73.9563 6.744 74.0523 6.776 74.1483 6.776C75.5243 7.032 76.1963 8.632 75.3643 9.784C74.7243 10.712 73.0923 10.84 72.0683 10.936C71.9083 12.568 71.8763 14.232 71.9403 15.896C72.0043 16.888 72.0363 17.912 72.3883 18.84C72.3883 18.904 72.4203 18.968 72.4843 19C72.8043 19.064 73.5723 19.064 73.8283 18.872C73.8923 18.84 74.3083 18.424 74.3723 18.36C74.7243 18.136 75.1083 17.912 75.5243 17.912C76.0683 17.912 76.7723 18.168 77.0923 18.616C77.4443 19.128 77.6683 19.928 77.4123 20.504ZM93.104 20.888C93.648 22.328 92.496 23.512 91.28 23.512C90.768 23.512 90.256 23.288 89.84 22.808C89.392 22.264 88.688 19.736 88.528 19.064C87.568 20.856 85.904 23.032 83.632 23.032C81.488 23.032 80.144 21.24 79.472 19.384C78.832 17.56 78.832 15.544 78.992 13.624C79.088 12.28 79.504 8.28 80.464 7.32C80.976 6.808 81.456 6.456 82.192 6.456C83.76 6.456 84.784 8.472 83.504 9.72C83.472 9.784 83.408 10.072 83.376 10.168C83.056 11.608 82.832 13.08 82.768 14.552C82.736 15.544 82.736 16.568 82.928 17.56C83.056 18.136 83.248 18.744 83.664 19.128C83.792 19.064 83.888 18.968 83.984 18.872C85.712 17.08 86.704 13.752 87.184 11.384C87.28 10.904 87.6 8.952 87.888 8.536C88.208 8.088 88.688 7.672 89.232 7.608C90.032 7.608 90.8 7.736 91.216 8.568C91.344 8.792 91.44 9.048 91.472 9.304C91.568 10.552 91.568 11.8 91.632 13.048C91.76 15.704 92.112 18.392 93.104 20.888ZM98.4518 21.432C98.0998 22.008 97.4278 22.392 96.7558 22.392C95.8918 22.392 94.8997 21.656 94.8358 20.76C94.7718 20.088 95.0278 16.568 95.0598 15.896C95.1558 14.392 95.2198 12.888 95.3158 11.384C95.3798 10.168 95.3158 7.128 96.3078 6.424C96.6278 6.2 97.0438 5.976 97.4598 5.976C98.0998 5.976 98.9318 6.392 99.2198 6.968C99.3798 7.352 99.5398 7.832 99.4118 8.248C99.2198 9.08 99.2198 9.944 99.1878 10.808C100.084 9.528 101.94 7.32 103.252 6.68C103.476 6.584 103.7 6.552 103.956 6.552C104.628 6.552 105.3 6.84 105.684 7.352C105.908 7.704 106.164 8.152 106.1 8.568C106.036 9.272 105.652 10.2 104.852 10.36C104.788 10.392 104.564 10.424 104.5 10.488C102.036 12.952 99.9238 15.992 99.0598 19.384C98.9638 19.704 98.6118 21.144 98.4518 21.432ZM117.578 21.56C116.586 22.008 115.85 22.264 114.794 22.264C114.122 22.264 113.418 22.168 112.778 22.008C109.13 21.24 107.242 18.84 106.954 15.064C106.602 11.16 109.674 7.416 113.546 6.872C113.898 6.808 114.25 6.808 114.602 6.808C115.37 6.808 116.17 6.936 116.842 7.256C118.826 8.184 119.21 11.096 118.474 13.144C117.674 15.544 115.402 16.792 112.938 16.792C112.362 16.792 111.786 16.728 111.21 16.664C111.338 16.92 111.498 17.144 111.69 17.368C112.298 18.072 114.218 18.584 115.146 18.392C115.658 18.296 116.138 17.912 116.65 17.976C117.45 18.04 118.186 18.424 118.442 19.224C118.602 19.768 118.602 20.408 118.282 20.856C118.09 21.112 117.898 21.4 117.578 21.56ZM111.242 12.792C111.786 12.888 112.394 12.952 113.002 12.952C113.898 12.952 114.538 12.728 114.89 11.832C115.018 11.448 114.986 11.032 114.922 10.648C114.378 10.584 113.834 10.68 113.322 10.84C112.426 11.16 111.69 11.928 111.242 12.792Z" fill="black"/>
        </svg>
        <svg class="hand underline" height="8" viewBox="0 0 114 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5.3784C10.8621 4.03565 19.9146 3.35136 28.977 3.35136C38.0269 3.35136 47.0675 4.50289 56.1191 4.74026C62.4971 4.90751 68.8748 5.42251 75.2508 5.71624C80.5405 5.95993 85.8418 6.1077 91.1341 5.90393C98.3711 5.62528 104.939 3.7653 112 2" stroke="black" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
</div>

<style>
    .all_hands
    {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
        left: calc(2vw + 90px);
        bottom: calc(2vw + 40px);
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin: 0 0 50px 12px;
    }

    .all_hands .hand_font .hand.text
    {
        margin-bottom: 2px;
    }

    .all_hands .hand_font .hand.text #path
    {
        stroke-dasharray: 634;
        stroke-dashoffset: 634;
        animation: sign 2s ease;
        animation-fill-mode: forwards;
    }

    @keyframes sign
    {
        from
        {
            stroke-dashoffset: 634;
        }

        to
        {
            stroke-dashoffset: 0;
        }
    }

    .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>