---

---

<div class="all_hands">
    <div class="hand_font">
        <svg class="hand text" height="24" viewBox="0 0 83 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.872 22.016C10.912 23.776 8.128 24.704 5.792 24.704C5.216 24.704 4.672 24.672 4.192 24.544C3.744 24.448 1.76 23.872 1.376 23.616C0.96 23.392 0.608 22.944 0.48 22.496C0.128 21.184 1.12 20.032 2.336 20.032C2.56 20.032 2.784 20.064 3.008 20.16C3.936 20.512 4.896 20.864 5.888 20.864C6.688 20.864 7.52 20.672 8.224 20.288C8.32 20.256 8.512 20.192 8.512 20.096C8.512 19.328 7.072 18.272 6.496 17.824C5.632 17.152 4.768 16.48 4 15.744C3.392 15.168 2.816 14.528 2.496 13.76C2.112 12.832 2.336 11.584 2.912 10.752C4.032 9.088 5.504 7.744 7.616 7.744C9.28 7.744 11.488 9.312 12.288 10.656C12.608 11.232 12.64 12.064 12.256 12.608C11.872 13.248 11.296 13.568 10.528 13.568C10.048 13.568 9.376 13.216 9.12 12.832C8.96 12.576 7.84 11.552 7.52 11.552C7.168 11.584 6.528 12.288 6.304 12.576C6.24 12.64 6.368 12.704 6.432 12.768C7.456 13.76 8.608 14.56 9.696 15.456C11.104 16.64 12.352 18.048 12.352 20C12.384 20.704 12.192 21.408 11.872 22.016ZM25.6645 18.4C24.6405 20.768 22.6565 23.232 19.8725 23.232C17.1845 23.232 14.7205 21.248 14.1125 18.624C13.8565 17.376 13.9845 16.032 14.3045 14.784C14.9125 12.288 17.4725 7.456 20.5445 7.456C20.7365 7.456 20.9285 7.456 21.1525 7.488C21.2165 7.488 21.3125 7.424 21.4085 7.424C21.6325 7.424 21.8565 7.36 22.0805 7.424C25.0245 8.288 25.9845 10.08 26.3045 13.024C26.4645 14.816 26.3365 16.704 25.6645 18.4ZM18.1445 18.432C18.4645 18.912 19.2325 19.424 19.8405 19.424C20.6725 19.424 21.6645 17.888 21.9845 17.216C22.5925 15.904 22.6565 14.304 22.4005 12.864C22.3365 12.416 22.2405 11.936 21.9845 11.584C21.8565 11.392 21.6005 11.328 21.4085 11.232C21.3765 11.232 20.6725 11.328 20.6725 11.328C19.9365 11.968 19.3285 12.8 18.8485 13.664C18.1765 14.848 17.3445 17.344 18.1445 18.432ZM38.1978 21.024C36.6618 22.368 34.3898 23.936 32.2458 23.936C30.8378 23.936 29.4298 23.136 28.7898 21.824C28.0858 20.288 27.8298 18.496 27.8938 16.8C28.0858 12.576 30.1338 7.936 34.2618 7.936C36.0858 7.936 36.5658 8.544 37.5258 9.952C37.9738 10.592 37.9418 11.712 37.3978 12.256C37.0778 12.576 36.6938 12.864 36.2458 12.928C35.8298 12.96 35.3498 12.896 34.9658 12.672C34.6138 12.48 34.3578 12.096 34.1018 11.776C33.1418 11.904 32.4378 13.536 32.1498 14.432C31.7658 15.808 31.6058 17.28 31.8298 18.656C31.8938 19.136 31.9898 19.68 32.2458 20.096C33.3018 20.096 35.5417 18.368 36.2778 17.632C36.3418 17.536 36.7258 17.12 36.7898 17.056C37.1738 16.8 37.5898 16.576 38.0378 16.64C38.6778 16.672 39.4138 17.024 39.7018 17.6C39.9258 18.08 40.0538 18.72 39.8298 19.2C39.4778 19.936 38.8378 20.512 38.1978 21.024ZM45.0783 4.64C44.7263 4.8 44.3103 4.896 43.9263 4.896C43.3183 4.896 42.6143 4.448 42.3583 3.936C42.0703 3.36 42.0063 2.528 42.3583 2.016C42.7743 1.408 43.4783 1.056 44.1503 1.056C44.5663 1.056 45.0143 1.184 45.3663 1.504C45.8783 1.92 46.1343 2.624 46.0063 3.296C45.9103 3.84 45.5583 4.384 45.0783 4.64ZM44.9503 24.256C44.6302 24.48 44.2463 24.576 43.8623 24.576C42.1663 24.576 41.9423 23.136 41.8463 21.824C41.6543 18.656 41.6543 15.456 41.8143 12.288C41.8783 11.36 42.0383 9.6 42.5503 8.832C42.9663 8.256 43.4783 7.904 44.2143 7.904C45.2063 7.904 46.1343 8.672 46.1343 9.824C46.1343 10.304 45.9103 10.752 45.7823 11.2C45.6543 11.776 45.5583 14.592 45.5583 15.168C45.5263 16.224 45.5263 21.248 45.7183 22.24C45.8783 23.072 45.5903 23.776 44.9503 24.256ZM57.4885 19.648C56.5285 21.664 55.1525 24.608 52.5605 24.608C49.9685 24.608 48.3685 21.952 48.1125 19.616C47.8565 17.216 48.3685 14.72 49.3605 12.544C50.5445 10.08 52.1445 8 55.1525 8C56.0485 8 56.9765 8.128 57.7765 8.512C58.0645 8.672 58.3845 8.768 58.6405 8.992C59.1525 9.408 59.4405 10.24 59.2805 10.88C59.6645 11.136 59.9845 11.52 60.0805 11.936C60.2725 12.608 60.3365 13.28 60.4325 13.952C60.6565 15.904 60.8805 17.888 61.5525 19.744C62.0325 21.12 60.9765 22.336 59.7605 22.336C58.2245 22.336 57.8085 20.864 57.4885 19.648ZM51.9525 19.232C52.0165 19.712 52.2405 20.192 52.4965 20.64C53.8085 19.104 54.8325 16.192 55.4405 14.336C55.5365 14.048 56.0805 12.32 56.2085 12.032C55.7925 11.84 55.3445 11.808 54.8965 11.84C54.6085 11.84 54.2885 12.032 54.0965 12.256C52.9765 13.376 52.3685 15.104 52.0485 16.608C51.8885 17.472 51.8245 18.368 51.9525 19.232ZM67.0173 22.432C66.6653 22.688 66.2173 22.912 65.8013 22.848C65.0973 22.784 64.1693 22.4 64.0093 21.6C63.8173 20.928 63.7213 20.256 63.6893 19.584C63.5933 18.272 63.6253 16.928 63.6573 15.616C63.6893 12.576 63.8813 9.536 64.1373 6.496C64.2653 5.216 64.3293 3.904 64.7133 2.656C65.0013 1.664 65.7053 0.703999 66.8253 0.703999C67.7853 0.703999 68.7453 1.472 68.7453 2.624C68.7453 3.04 68.5533 3.456 68.3933 3.808C68.1053 4.448 67.9133 7.264 67.8813 7.936C67.6253 11.36 67.4333 14.784 67.4653 18.24C67.4973 18.944 67.4973 19.648 67.6253 20.32C67.6893 20.64 67.7853 20.992 67.6893 21.28C67.5613 21.728 67.3693 22.176 67.0173 22.432ZM81.622 22.016C80.662 23.776 77.878 24.704 75.542 24.704C74.966 24.704 74.422 24.672 73.942 24.544C73.494 24.448 71.51 23.872 71.126 23.616C70.71 23.392 70.358 22.944 70.23 22.496C69.878 21.184 70.87 20.032 72.086 20.032C72.31 20.032 72.534 20.064 72.758 20.16C73.686 20.512 74.646 20.864 75.638 20.864C76.438 20.864 77.27 20.672 77.974 20.288C78.07 20.256 78.262 20.192 78.262 20.096C78.262 19.328 76.822 18.272 76.246 17.824C75.382 17.152 74.518 16.48 73.75 15.744C73.142 15.168 72.566 14.528 72.246 13.76C71.862 12.832 72.086 11.584 72.662 10.752C73.782 9.088 75.254 7.744 77.366 7.744C79.03 7.744 81.238 9.312 82.038 10.656C82.358 11.232 82.39 12.064 82.006 12.608C81.622 13.248 81.046 13.568 80.278 13.568C79.798 13.568 79.126 13.216 78.87 12.832C78.71 12.576 77.59 11.552 77.27 11.552C76.918 11.584 76.278 12.288 76.054 12.576C75.99 12.64 76.118 12.704 76.182 12.768C77.206 13.76 78.358 14.56 79.446 15.456C80.854 16.64 82.102 18.048 82.102 20C82.134 20.704 81.942 21.408 81.622 22.016Z" fill="black"/>
        </svg>
        <svg class="hand underline" width="91" height="8" viewBox="0 0 91 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 6C4.7696 4.42242 8.29662 3.73073 11.3199 3.33333C17.3441 2.54147 23.0837 2 29.136 2C36.9505 2 44.7192 2.12047 52.5224 2.69136C64.7443 3.58551 76.9153 5.50376 89 2.44444" stroke="black" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
    <svg class="hand arrow" height="72" viewBox="0 0 46 82" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.6346 63.813C10.4091 64.6398 14.704 64.8798 18.5614 65.6565C21.2148 66.1908 23.9066 68.085 26.8525 67.884" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path d="M6.58641 64.1244C7.96331 68.8635 7.29238 73.6449 7.99683 78.4671C8.36638 80.9968 9.9681 80.5269 12.9009 79.6748C19.5473 77.7438 25.4152 73.1071 31.0195 69.5428" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path d="M2.31403 2C6.46103 3.29594 10.4701 5.23465 14.447 6.97764C18.1482 8.59975 21.9623 10.0372 25.543 11.9207C32.8948 15.7879 41.6922 21.4448 43.8117 30.0857C45.5442 37.1489 39.4162 42.7508 35.1354 47.5765C30.8835 52.3695 26.3884 56.9362 22.1036 61.6971C20.1602 63.8564 18.5439 65.982 17.247 68.576" stroke="black" stroke-width="3" stroke-linecap="round"/>
    </svg>
</div>

<style>
    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        right: calc(2vw + 50px);
        bottom: calc(2vw + 70px);
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .all_hands .hand_font .hand.text
    {
        margin: 0 20px 8px 0;
    }

    .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>