<div class="container-socials">
    <div class="all_hands socials disp">
        <div class="hand_font">
            <svg class="hand text" height="25" viewBox="0 0 329 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path4 a" d="M40.638 44.9164C40.5515 44.2242 37.6125 41.8179 36.7802 41.3423C34.9356 40.2882 33.6514 39.4327 31.6744 38.5341C26.6587 36.2542 20.9452 38.4754 17.5481 42.25C14.5531 45.5777 16.6893 51.5953 18.4558 55.1282C20.52 59.2567 24.6864 62.4358 28.1286 65.1131C30.7511 67.1528 32.8396 70.0176 35.4187 71.9776C36.4015 72.7246 38.5211 76.3268 38.5957 77.5941C38.8482 81.8871 36.3861 83.9569 32.7239 84.7707C28.8208 85.6381 25.2833 86.7847 21.2356 86.7847C17.5069 86.7847 12.2109 85.8465 8.98151 84.2318"/>
                <path class="path4 b" d="M81.9957 35.7258C76.5336 35.7258 74.6288 39.8428 71.2734 43.3847C67.5273 47.3389 66.3164 51.453 64.7492 56.5465C63.623 60.2067 64.4235 66.1162 64.6357 69.9353C64.8563 73.9056 68.2898 78.0251 70.1387 81.1683C71.8508 84.0788 78.552 85.8118 81.4852 84.3453C86.425 81.8753 89.0453 77.3229 90.7892 72.0911C92.3736 67.3381 94.2499 62.3797 94.2499 57.1706C94.2499 53.9195 94.3529 50.6503 93.6258 47.4694C92.949 44.5081 91.444 39.1735 88.6334 37.7682"/>
                <path class="path4 c" d="M141.224 41.8529C140.041 41.705 137.493 41.1986 136.374 40.5764C134.998 39.8122 132.318 40.3211 130.757 40.3211C127.12 40.3211 122.599 43.0783 121.793 46.7035C120.045 54.5722 118.248 62.3439 118.248 70.7012C118.248 75.9166 122.386 85.253 128.97 85.253C130.994 85.253 132.377 85.1175 134.076 84.1183C135.733 83.1434 138.307 81.9658 139.692 80.6577C141.399 79.0459 143.769 77.5988 145.819 76.4595C147.188 75.6989 148.061 74.1757 149.394 73.5094"/>
                <path class="path4 d" d="M173.391 37.7682C173.391 41.9666 171.859 46.0965 171.859 50.4195C171.859 55.6342 171.349 60.942 171.349 66.2477C171.349 69.8975 171.349 73.5472 171.349 77.197C171.349 80.7141 172.37 84.2577 172.37 87.8059"/>
                <path class="path4 e" d="M174.412 10.707V11.7281"/>
                <path class="path4 f" d="M224.45 40.8317C221.64 40.8317 218.022 40.2045 215.515 41.5976C213.905 42.4918 211.86 42.9863 210.437 44.1505C208.686 45.5837 206.999 47.4744 205.048 48.604C203.603 49.4403 203.476 51.2778 202.892 52.5753C201.824 54.9491 200.665 57.191 199.942 59.7235C198.807 63.6951 197.389 67.5045 197.389 71.7224C197.389 75.3695 197.307 78.3453 198.807 81.6788C199.45 83.1076 199.185 84.212 200.339 85.3664C201.19 86.2179 202.908 86.7909 203.516 87.5506C205.1 89.5308 209.45 88.9513 211.685 88.8271C215.339 88.6241 217.156 84.8885 219.344 82.7C224.322 77.7219 225.707 70.5712 227.911 64.2054C229.756 58.8758 230.067 51.8551 230.067 46.2496C230.067 40.8193 229.428 57.2307 230.606 62.5318C230.911 63.9064 232.299 64.7918 232.591 66.1059C232.969 67.8054 233.572 69.3976 234.265 70.9565C235.238 73.1471 237.215 76.2086 237.215 78.6153"/>
                <path class="path4 g" d="M267.85 8.66461C264.338 9.05482 264.032 19.6768 263.765 21.7414C262.958 27.9981 261.213 33.8146 261.213 40.2077C261.213 44.1045 260.702 47.8709 260.702 51.781C260.702 62.2196 261.213 72.9402 261.213 83.2106"/>
                <path class="path4 h" d="M320.951 46.4482C319.456 45.1022 316.541 44.6374 315.335 43.1293C314.241 41.762 311.681 40.3211 309.974 40.3211C305.481 40.3211 303.3 40.3488 299.762 43.101C296.647 45.5241 296.721 52.3889 298.486 55.6388C301.135 60.5188 307.464 64.6697 311.874 67.8929C314.916 70.1153 316.867 74.7245 316.867 78.36C316.867 81.4524 316.297 82.5653 314.569 85.2529C313.243 87.3163 311.575 87.2386 309.945 88.5718C306.518 91.3763 301.159 90.3588 296.954 90.3588C294.518 90.3588 292.787 88.505 290.43 88.3165C289.228 88.2203 286.636 85.4656 286.231 86.2741"/>
            </svg>
            <svg class="hand underline" height="8" viewBox="0 0 91 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="path5" d="M2 6C4.7696 4.42242 8.29662 3.73073 11.3199 3.33333C17.3441 2.54147 23.0837 2 29.136 2C36.9505 2 44.7192 2.12047 52.5224 2.69136C64.7443 3.58551 76.9153 5.50376 89 2.44444"/>
            </svg>
        </div>
        <svg class="hand arrow" height="72" viewBox="0 0 46 82" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path" d="M6.6346 63.813C10.4091 64.6398 14.704 64.8798 18.5614 65.6565C21.2148 66.1908 23.9066 68.085 26.8525 67.884"/>
            <path id="path2" d="M6.58641 64.1244C7.96331 68.8635 7.29238 73.6449 7.99683 78.4671C8.36638 80.9968 9.9681 80.5269 12.9009 79.6748C19.5473 77.7438 25.4152 73.1071 31.0195 69.5428"/>
            <path id="path3" d="M2.31403 2C6.46103 3.29594 10.4701 5.23465 14.447 6.97764C18.1482 8.59975 21.9623 10.0372 25.543 11.9207C32.8948 15.7879 41.6922 21.4448 43.8117 30.0857C45.5442 37.1489 39.4162 42.7508 35.1354 47.5765C30.8835 52.3695 26.3884 56.9362 22.1036 61.6971C20.1602 63.8564 18.5439 65.982 17.247 68.576"/>
        </svg>
    </div>
</div>

<style>
    .container-socials
    {
        position: absolute;
        display: flex;
        align-items: start;
        justify-content: end;
        width: 204px;
        height: 101px;
        right: calc(2vw + 50px);
        bottom: calc(2vw + 60px);
        z-index: 1;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .disp
    {
        display: none;
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .all_hands .hand_font .hand.text
    {
        margin: 0 20px 8px 0;
    }

    .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    .all_hands .hand.arrow path,
    .all_hands .hand.hand.underline path
    {
        stroke: var(--clr-font);
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.arrow #path
    {
        stroke-dasharray: 32;
        stroke-dashoffset: 32;
        animation: write .16s ease-in 1.36s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path2
    {
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: write .16s ease-in 1.52s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path3
    {
        stroke-dasharray: 112;
        stroke-dashoffset: 112;
        animation: write .16s ease-in 1.2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4
    {
        stroke: var(--clr-font);
        stroke-width: 12px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.text .path4.a
    {
        stroke-dasharray: 121;
        stroke-dashoffset: 121;
        animation: write .16s ease-in;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.b
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .16s ease-in .16s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.c
    {
        stroke-dasharray: 158;
        stroke-dashoffset: 158;
        animation: write .16s ease-in .32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.d
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.e
    {
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        animation: write .16s ease-in .64s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.f
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .8s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.g
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .96s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.h
    {
        stroke-dasharray: 112;
        stroke-dashoffset: 112;
        animation: write .16s ease-in 1.12s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.underline #path5
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .24s ease-in 1.72s;
        animation-fill-mode: forwards;
    }

    @keyframes write
    {
        to {
            stroke-dashoffset: 0;
        }
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>