<div class="container-sound">
    <div class="all_hands sound disp">
        <svg class="hand arrow" height="55" viewBox="0 0 99 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="path" d="M2 53C2 51.422 2.32476 49.7786 2.91503 48.2861C4.28598 44.8199 4.47265 41.1041 6.11765 37.6728C9.46908 30.682 13.1451 23.2142 22.0327 20.5236C41.2973 14.6914 65.065 26.989 82 15"/>
            <path id="path2" d="M75 6C80.12 11.2224 86.7883 17.4482 90 24" stroke="black" stroke-width="3" stroke-linecap="round"/>
            <path id="path3" d="M77.9147 3.86306C82.324 3.81853 86.7057 3.07955 91.0997 2.87738C92.6505 2.80603 95.0716 1.59622 96.5642 1.99335C97.6688 2.28723 94.6603 12.8488 94.0568 15.0199C93.3635 17.5136 93.0265 19.4663 93.0525 22.0399"/>
        </svg>
        <div class="hand_font">
            <svg class="hand text" height="24" viewBox="0 0 292 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="path4 a" d="M37.5305 41.1266C35.1556 38.4548 32.1881 33.7615 28.2949 33.7615C25.7273 33.7615 17.4957 33.0602 17.0135 36.918C16.912 37.7302 16.0672 38.0766 15.9321 39.0223C15.7501 40.2962 15.4353 41.2356 15.4353 42.5879C15.4353 43.7667 15.4353 44.9455 15.4353 46.1243C15.4353 48.1409 16.3613 49.0946 17.0135 50.8883C19.0678 56.5375 24.9546 59.4905 29.3763 62.9296C32.8957 65.6669 36.2235 69.1562 36.4783 73.7434C36.6837 77.4402 34.1332 80.6577 30.9545 82.4236C24.5986 85.9547 14.4837 85.9102 8.07019 81.6345"/>
                <path class="path4 b" d="M81.7209 32.1833C77.3093 32.1833 73.8528 33.8344 70.5564 36.8011C66.6581 40.3096 65.0859 44.1345 62.5191 48.7547C60.5077 52.3753 61.389 60.2405 62.2269 64.011C63.1387 68.1141 63.9611 73.5635 68.0429 75.9646C77.4643 81.5066 88.6667 73.2392 90.1674 63.4849C90.6303 60.4758 92.2425 58.0909 92.2425 54.9215C92.2425 52.4912 92.6485 49.5995 92.2133 47.2057C91.0783 40.9637 86.5859 35.47 82.247 31.1312"/>
                <path class="path4 c" d="M120.99 31.5671C120.849 32.6968 120.24 34.6 119.824 35.7652C119.184 37.5571 119.658 39.8815 118.891 41.5699C117.402 44.846 116.792 50.1242 116.792 53.7234C116.792 57.1325 117.258 60.7267 117.258 63.9853C117.258 67.3212 118.885 69.7888 119.565 72.8478C120.019 74.8933 122.291 79.7917 124.721 80.0777C126.255 80.2581 127.153 81.0106 128.919 81.0106C130.556 81.0106 131.725 80.2517 133.117 80.0777C134.843 79.862 137.64 75.3589 138.352 74.0139C139.494 71.8565 140.573 69.6884 141.617 67.4836C142.252 66.1424 142.371 64.313 143.276 63.1819C143.741 62.6 144.568 59.6871 144.753 58.8543C145.035 57.5828 145.293 56.2953 145.945 55.1228C147.289 52.7036 147.559 49.3152 148.51 46.7008C149.304 44.5176 150.115 42.2842 151.076 40.1705C151.688 38.824 152.656 34.5452 152.656 36.0243C152.656 39.5443 150.842 43.0899 150.842 46.7526C150.842 50.3779 150.376 53.9943 150.376 57.6882C150.376 60.2733 150.823 64.6423 151.879 67.0172C152.375 68.1335 153.107 70.4612 153.175 71.6817C153.263 73.2667 154.4 74.4841 154.574 75.8797C154.857 78.1467 156.621 80.6201 157.373 82.8764"/>
                <path class="path4 d" d="M181.628 35.2987C180.159 35.4823 180.229 43.0309 180.229 44.524C180.229 49.1993 178.829 53.8162 178.829 58.5174C178.829 61.938 178.829 65.3586 178.829 68.7793C178.829 71.5778 179.609 74.519 179.762 77.279C179.787 77.7329 179.502 81.2697 180.229 81.2697C181.031 81.2697 182.092 74.6282 182.198 74.0138C183.029 69.213 183.575 64.2789 184.997 59.6576C186.777 53.8715 188.885 48.7089 191.786 43.2283C193.016 40.9061 194.288 38.2569 196.088 36.2316C197.604 34.5264 200.053 31.5671 202.618 31.5671C205.697 31.5671 208.391 30.1684 211.014 32.5C213.805 34.9811 213.604 37.7564 214.642 41.2588C215.672 44.7353 214.746 49.8638 214.746 53.4901C214.746 56.9108 214.746 60.3314 214.746 63.752C214.746 69.4491 215.212 74.8535 215.212 80.5441"/>
                <path class="path4 e" d="M280.981 8.24469C280.981 14.6569 279.582 20.9908 279.582 27.4727C279.582 35.0348 278.649 42.3898 278.649 49.9659C278.649 56.2619 279.139 62.6985 280.023 68.8829C280.463 71.9664 281.914 75.0404 281.914 78.1082C281.914 79.5779 282.453 83.6121 283.78 84.2757"/>
                <path class="path4 f" d="M271.186 33.8994C266.158 33.8994 260.74 34.0831 256.959 37.8642C255.067 39.7568 252.069 40.5591 250.662 43.021C249.531 45.0014 247.836 46.543 246.697 48.5925C245.743 50.3103 244.575 51.6768 243.769 53.4902C242.954 55.3242 242.937 57.3452 242.163 59.0875C241.11 61.4556 240.867 63.9289 240.867 66.5507C240.867 69.4232 239.629 72.5767 240.763 75.4132C241.609 77.5269 240.02 79.7037 242.033 81.2697C244.048 82.837 245.878 84.2757 248.563 84.2757C250.857 84.2757 253.361 84.5993 255.534 83.8093C257.028 83.2661 260.598 81.2569 261.391 79.8704C262.357 78.179 264.854 77.2786 265.951 75.4132C267.095 73.4692 268.733 70.9542 270.253 69.3494C271.882 67.6301 272.771 65.4004 274.347 63.6484C275.519 62.3466 277.663 59.7126 278.183 58.1546"/>
            </svg>
            <svg class="hand underline" height="6" viewBox="0 0 89 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="path5" d="M1.97835 1.54527C3.40832 1.52734 4.80898 1.60302 6.2366 1.7697C14.0867 2.68622 21.9219 2.77453 29.8011 2.6967C48.8489 2.50855 67.8136 2.14845 86.8054 4.48251"/>
            </svg>
        </div>
    </div>
</div>

<style>
    .container-sound
    {
        position: absolute;
        width: 137px;
        height: 109px;
        top: calc(10% + 8px);
        right: calc(2vw + 50px);
        z-index: 1;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .disp
    {
        display: none;
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-right: 48px;
    }

    .all_hands .hand.arrow
    {
        margin-right: -44px;
    }

    .all_hands .hand.text
    {
        margin: 16px 0 8px 0;
    }

    .all_hands .hand.arrow path,
    .all_hands .hand.hand.underline path
    {
        stroke: var(--clr-font);
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.arrow #path
    {
        stroke-dasharray: 111;
        stroke-dashoffset: 111;
        animation: write .16s ease-in 1.2s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path2
    {
        stroke-dasharray: 28;
        stroke-dashoffset: 28;
        animation: write .16s ease-in 1.36s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.arrow #path3
    {
        stroke-dasharray: 42;
        stroke-dashoffset: 42;
        animation: write .16s ease-in 1.52s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4
    {
        stroke: var(--clr-font);
        stroke-width: 12px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .all_hands .hand.text .path4.a
    {
        stroke-dasharray: 121;
        stroke-dashoffset: 121;
        animation: write .16s ease-in;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.b
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .16s ease-in .16s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.c
    {
        stroke-dasharray: 158;
        stroke-dashoffset: 158;
        animation: write .16s ease-in .32s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.d
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .48s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.e
    {
        stroke-dasharray: 82;
        stroke-dashoffset: 82;
        animation: write .16s ease-in .64s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.text .path4.f
    {
        stroke-dasharray: 162;
        stroke-dashoffset: 162;
        animation: write .16s ease-in .8s;
        animation-fill-mode: forwards;
    }

    .all_hands .hand.underline #path5
    {
        stroke-dasharray: 124;
        stroke-dashoffset: 124;
        animation: write .24s ease-in 1.72s;
        animation-fill-mode: forwards;
    }

    @keyframes write
    {
        to {
            stroke-dashoffset: 0;
        }
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>