
<div class="all_hands">
    <svg class="hand arrow" height="55" viewBox="0 0 99 55" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 53C2 51.422 2.32476 49.7786 2.91503 48.2861C4.28598 44.8199 4.47265 41.1041 6.11765 37.6728C9.46908 30.682 13.1451 23.2142 22.0327 20.5236C41.2973 14.6914 65.065 26.989 82 15" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path d="M75 6C80.12 11.2224 86.7883 17.4482 90 24" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <path d="M77.9147 3.86306C82.324 3.81853 86.7057 3.07955 91.0997 2.87738C92.6505 2.80603 95.0716 1.59622 96.5642 1.99335C97.6688 2.28723 94.6603 12.8488 94.0568 15.0199C93.3635 17.5136 93.0265 19.4663 93.0525 22.0399" stroke="black" stroke-width="3" stroke-linecap="round"/>
    </svg>
    <div class="hand_font">
        <svg class="hand text" height="24" viewBox="0 0 74 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.872 21.016C10.912 22.776 8.128 23.704 5.792 23.704C5.216 23.704 4.672 23.672 4.192 23.544C3.744 23.448 1.76 22.872 1.376 22.616C0.96 22.392 0.608 21.944 0.48 21.496C0.128 20.184 1.12 19.032 2.336 19.032C2.56 19.032 2.784 19.064 3.008 19.16C3.936 19.512 4.896 19.864 5.888 19.864C6.688 19.864 7.52 19.672 8.224 19.288C8.32 19.256 8.512 19.192 8.512 19.096C8.512 18.328 7.072 17.272 6.496 16.824C5.632 16.152 4.768 15.48 4 14.744C3.392 14.168 2.816 13.528 2.496 12.76C2.112 11.832 2.336 10.584 2.912 9.752C4.032 8.088 5.504 6.744 7.616 6.744C9.28 6.744 11.488 8.312 12.288 9.656C12.608 10.232 12.64 11.064 12.256 11.608C11.872 12.248 11.296 12.568 10.528 12.568C10.048 12.568 9.376 12.216 9.12 11.832C8.96 11.576 7.84 10.552 7.52 10.552C7.168 10.584 6.528 11.288 6.304 11.576C6.24 11.64 6.368 11.704 6.432 11.768C7.456 12.76 8.608 13.56 9.696 14.456C11.104 15.64 12.352 17.048 12.352 19C12.384 19.704 12.192 20.408 11.872 21.016ZM25.6645 17.4C24.6405 19.768 22.6565 22.232 19.8725 22.232C17.1845 22.232 14.7205 20.248 14.1125 17.624C13.8565 16.376 13.9845 15.032 14.3045 13.784C14.9125 11.288 17.4725 6.456 20.5445 6.456C20.7365 6.456 20.9285 6.456 21.1525 6.488C21.2165 6.488 21.3125 6.424 21.4085 6.424C21.6325 6.424 21.8565 6.36 22.0805 6.424C25.0245 7.288 25.9845 9.08 26.3045 12.024C26.4645 13.816 26.3365 15.704 25.6645 17.4ZM18.1445 17.432C18.4645 17.912 19.2325 18.424 19.8405 18.424C20.6725 18.424 21.6645 16.888 21.9845 16.216C22.5925 14.904 22.6565 13.304 22.4005 11.864C22.3365 11.416 22.2405 10.936 21.9845 10.584C21.8565 10.392 21.6005 10.328 21.4085 10.232C21.3765 10.232 20.6725 10.328 20.6725 10.328C19.9365 10.968 19.3285 11.8 18.8485 12.664C18.1765 13.848 17.3445 16.344 18.1445 17.432ZM42.1978 20.888C42.7418 22.328 41.5898 23.512 40.3738 23.512C39.8618 23.512 39.3498 23.288 38.9338 22.808C38.4858 22.264 37.7818 19.736 37.6218 19.064C36.6618 20.856 34.9978 23.032 32.7258 23.032C30.5818 23.032 29.2378 21.24 28.5658 19.384C27.9258 17.56 27.9258 15.544 28.0858 13.624C28.1818 12.28 28.5978 8.28 29.5578 7.32C30.0698 6.808 30.5498 6.456 31.2858 6.456C32.8538 6.456 33.8778 8.472 32.5978 9.72C32.5658 9.784 32.5018 10.072 32.4698 10.168C32.1498 11.608 31.9258 13.08 31.8618 14.552C31.8298 15.544 31.8298 16.568 32.0218 17.56C32.1498 18.136 32.3418 18.744 32.7578 19.128C32.8858 19.064 32.9818 18.968 33.0778 18.872C34.8058 17.08 35.7978 13.752 36.2778 11.384C36.3738 10.904 36.6938 8.952 36.9818 8.536C37.3018 8.088 37.7818 7.672 38.3258 7.608C39.1258 7.608 39.8938 7.736 40.3098 8.568C40.4378 8.792 40.5338 9.048 40.5658 9.304C40.6618 10.552 40.6618 11.8 40.7258 13.048C40.8538 15.704 41.2058 18.392 42.1978 20.888ZM47.8975 22.072C47.5135 22.744 46.8415 23.096 46.1695 23.096C45.3695 23.096 44.5695 22.616 44.3135 21.72C44.0895 20.952 44.0575 17.432 44.0575 16.664C44.0575 15.608 44.2175 9.784 44.3135 8.728C44.4095 7.672 45.3055 6.936 46.3295 6.936C47.0655 6.936 47.8975 7.416 48.0895 8.184C48.1855 8.504 48.2815 8.856 48.1855 9.176C48.1215 9.464 48.0895 9.752 48.0575 10.04C48.8255 8.856 49.7535 7.672 50.9695 7C51.8335 6.52 52.8255 6.232 53.7855 6.36C55.6735 6.712 56.5375 8.728 56.7295 10.456C57.1455 13.848 56.9535 17.304 56.8255 20.696C56.7935 21.88 55.8655 22.68 54.9055 22.68C53.8175 22.68 52.9855 21.752 52.9855 20.696C53.0815 17.784 53.2415 14.872 53.0495 11.96C53.0175 11.416 52.9535 10.872 52.7935 10.36C50.7455 11.672 48.9535 17.496 48.4735 19.736C48.4095 20.088 48.0895 21.752 47.8975 22.072ZM69.008 20.216C67.664 22.04 65.776 24.024 63.344 24.024C61.776 24.024 60.112 23.192 59.472 21.688C59.152 21.048 58.928 20.344 58.832 19.64C58.576 17.912 58.832 16.12 59.28 14.424C59.856 12.216 61.264 10.104 63.056 8.696C64.72 7.384 66.992 6.616 69.104 6.776C69.2 5.08 69.296 3.384 69.488 1.72C69.616 0.727999 70.48 0.0879993 71.376 0.0879993C72.144 0.0879993 72.912 0.599998 73.168 1.336C73.328 1.72 73.296 2.136 73.264 2.52C73.04 4.536 72.944 6.552 72.848 8.568C72.688 11.256 72.528 13.976 72.624 16.696C72.656 17.368 72.784 20.44 72.976 21.08C73.072 21.432 73.168 21.816 73.104 22.2C72.944 23.128 72.112 23.768 71.216 23.768C70.704 23.768 70.032 23.512 69.744 23.064C69.168 22.264 69.104 21.208 69.008 20.216ZM62.992 20.088C63.152 20.248 63.568 20.152 63.76 20.056C64.304 19.832 64.752 19.352 65.168 18.904C66.384 17.496 67.28 15.8 68.368 14.296C68.4 14.232 68.592 14.072 68.624 14.04C68.656 13.976 68.784 13.944 68.784 13.88C68.816 12.792 68.848 11.704 68.912 10.584C67.92 10.552 66.896 10.776 66.064 11.288C65.264 11.768 64.528 12.472 63.984 13.272C63.024 14.744 62.512 16.664 62.576 18.456C62.576 18.84 62.704 19.832 62.992 20.088Z" fill="black"/>
        </svg>
        <svg class="hand underline" height="6" viewBox="0 0 89 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.97835 1.54527C3.40832 1.52734 4.80898 1.60302 6.2366 1.7697C14.0867 2.68622 21.9219 2.77453 29.8011 2.6967C48.8489 2.50855 67.8136 2.14845 86.8054 4.48251" stroke="black" stroke-width="3" stroke-linecap="round"/>
        </svg>
    </div>
</div>

<style>
    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: calc(9% + 8px);
        right: calc(2vw + 50px);
    }

    .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-right: 48px;
    }

    .all_hands .hand.text
    {
        margin: 16px 0 8px 0;
    }

    .all_hands .hand.arrow
    {
        margin-right: -44px;
    }

    @media (max-width: 1240px)
    {
        .all_hands
        {
            display: none;
        }
    }
</style>