---
import BaseLayout from "../layouts/BaseLayout.astro";
import Frame from "../components/Frame.astro";
const pageTitle = "Projects";
const width = "72vw";
const height = "72vh";
const frame_tr = "frame_tr";
---

<BaseLayout pageTitle={pageTitle}>
    <Frame width={width} height={height} frame_tr={frame_tr}>
        <section class="little_js">
            <div class="left">
                <h1>Little Javascript<span style="color: #de4900;">.</span></h1>
                <div class="data">
                    <div class="tech_stack">
                        <strong>Tech_Stack:</strong>
                        <ul>
                            <li>HTML5<span class="html"></span></li>
                            <li>CSS3<span class="css"></span></li>
                            <li>Javascript ES6+<span class="js"></span></li>
                        </ul>
                    </div>
                    <div class="description">
                        <strong>Description:</strong>
                        <p>A package of 15 small JS projects to create dynamic websites and webapps. This approach allow users to interact with pages and custom them. It brings a better user experience and can update the data in real time. These projects include random backgrounds, modals, burger menu, fetching and many more...</p>
                    </div>
                    <div class="links">
                        <strong>Links:</strong>
                        <div class="all">
                            <a href="https://little-javascript.netlify.app/" target="_blank">www.little-javascript.app</a>
                            <a href="https://github.com/Paul-Mallet/Little-Javascript" target="_blank">Github Repository</a>
                        </div>
                    </div>
                    <div class="created_at">
                        <strong>Created_at:</strong>
                        <p>08/2023 - XX/2023</p>
                    </div>
                    <div class="progress">
                        <strong>Progression:</strong>
                        <div class="progress_bar"></div>
                        <p>100%</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" height="2.4em" viewBox="0 0 448 512">
                        <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" height="2.8em" style="margin-left: .4vw;" viewBox="0 0 384 512">
                        <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                    </svg>
                </div>
                <svg class="random_bg" viewBox="0 0 806 505" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="random_grad" x1="50%" y1="0%" x2="50%" y2="100%">
                            <stop class="stop1" offset="0%" stop-color="#7A5FFF">
                                <animate
                                attributeName="stop-color"
                                values="#7A5FFF; #01FF89; #7A5FFF"
                                dur="8s"
                                repeatCount="indefinite"
                                />
                            </stop>
                            <stop class="stop2" offset="100%" stop-color="#01FF89">
                                <animate
                                attributeName="stop-color"
                                values="#01FF89; #7A5FFF; #01FF89"
                                dur="8s"
                                repeatCount="indefinite"
                                />
                            </stop>
                        </linearGradient>
                    </defs>
                    <path d="M772 80.5C684 -25.1 549.5 104.503 437 60C286.167 0.33334 27.9999 -72.2 3.99993 159C-20.0001 390.2 103.5 376.5 164.5 331C217.833 285.833 345.9 237.3 431.5 404.5C538.5 613.5 824.5 446.5 752 331C679.5 215.5 882 212.5 772 80.5Z" fill="url(#random_grad)"/>
                </svg>
                <svg class="target" width="28" height="28" viewBox="0 0 465 478" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="234" cy="246" r="149" stroke="#E44D26" stroke-width="40"/>
                    <line x1="237" x2="237" y2="162" stroke="#E44D26" stroke-width="40"/>
                    <line x1="237" y1="316" x2="237" y2="478" stroke="#E44D26" stroke-width="40"/>
                    <line y1="243" x2="162" y2="243" stroke="#E44D26" stroke-width="40"/>
                    <line x1="303" y1="243" x2="465" y2="243" stroke="#E44D26" stroke-width="40"/>
                </svg>
                <span class="html orbit"></span>
                <span class="css orbit"></span>
                <span class="js orbit"></span>
                <div class="faq">
                    <div class="top">
                        <p>Did you see something ?</p>
                        <div class="btns">
                            <svg class="plus not_display" xmlns="http://www.w3.org/2000/svg" height="1.24em" viewBox="0 0 452 512">
                                <path d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM200 344V280H136c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H248v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                            </svg>
                            <svg class="minus" xmlns="http://www.w3.org/2000/svg" height="1.24em" viewBox="0 0 452 512">
                                <path d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM152 232H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <p class="content">Lorem ipsum dolor sit amet, consecta adipiscing elitm sed do eiusmod tempor incididunt ut labore et dolo.</p>
                </div>
                <div class="shuttle_container">
                    <div class="shuttle_space">
                        <p>Hold</p>
                        <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512">
                            <path d="M130 480c40.6 0 80.4-11 115.2-31.9L352 384l-224 0 0 96h2zM352 128L245.2 63.9C210.4 43 170.6 32 130 32h-2v96l224 0zM96 128l0-96H80C53.5 32 32 53.5 32 80v48h8c-22.1 0-40 17.9-40 40v16V328v16c0 22.1 17.9 40 40 40H32v48c0 26.5 21.5 48 48 48H96l0-96h8c26.2 0 49.4-12.6 64-32H456c69.3 0 135-22.7 179.2-81.6c6.4-8.5 6.4-20.3 0-28.8C591 182.7 525.3 160 456 160H168c-14.6-19.4-37.8-32-64-32l-8 0zM512 243.6v24.9c0 19.6-15.9 35.6-35.6 35.6c-2.5 0-4.4-2-4.4-4.4V212.4c0-2.5 2-4.4 4.4-4.4c19.6 0 35.6 15.9 35.6 35.6z"/>
                        </svg>
                    </div>
                </div>
                <div class="stats">
                    <p class="score">Score: <span>0</span></p>
                    <p class="timeout">00:<span>10</span></p>
                </div>
            </div>
        </section>
    </Frame>
</BaseLayout>

<style>
    section
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 72vw;
        height: 72vh;
        padding: 32px;
    }

    h1
    {
        display: flex;
        margin-bottom: 3.2vh;
    }

    h1 span
    {
        margin: 0;
    }

    .left, 
    .right
    {
        width: 50%;
        height: 100%;
    }

    .left .data
    {
        width: 100%;
        height: 54vh;
        padding-right: 12px;
        overflow-y: auto;
    }

    .left .data::-webkit-scrollbar
    {
        border-radius: 10px;
        box-shadow: inset 1px 1px 4px rgb(186,196,214);
    }

    .left .data::-webkit-scrollbar-thumb
    {
        background: #d6dee9;
        border-radius: 10px;
        opacity: .8;
    }

    .left .data::-webkit-scrollbar-corner
    {
        background: #ecf0f3;
    }

    strong
    {
        font-size: calc(.6rem + .8vw);
        font-weight: 400;
        margin-right: calc(4px + .8vw);
    }

    span
    {
        display: block;
        width: calc(4px + .8vw);
        height: calc(4px + .8vw);
        margin-left: calc(4px + .2vw);
        margin-right: calc(8px + .4vw);
        border-radius: 16px;
    }

    .html
    {
        background: var(--clr-span);
    }

    .css
    {
        background: #344999;
    }

    .js
    {
        background: #e7e100;
    }

    .left .data div
    {
        display: flex;
        align-items: flex-start;
        font-size: calc(.36rem + .8vw);
        margin-top: 8px;
    }

    .left .tech_stack ul,
    .left .description p,
    .left .links .all,
    .left .created_at p
    {
        margin-top: 4px;
    }

    .left .tech_stack ul, li
    {
        display: flex;
        flex-wrap: wrap;
    }

    ul li
    {
        display: flex;
        align-items: center;
    }

    .left .links .all
    {
        display: flex;
        flex-direction: column;
    }

    .left .links .all a
    {
        color: var(--clr-font);
        text-decoration: underline;
    }

    .left .data .progress
    {
        display: flex;
        align-items: center;
        font-size: calc(.72rem + .36vw);
    }

    .left .progress .progress_bar
    {
        width: 24vw;
        height: 1.6vh;
        margin-top: 6px;
        background: linear-gradient(0.25turn, #adcc00, #6eb41e);
        border-radius: 12px;
    }

    .left .progress p
    {
        margin: 5px 0 0 4px;
    }

    /*Right*/
    .right
    {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 46%;
        height: 96%;
        margin-right: 1%;
        padding: 24px;
        border-radius: 24px;
        box-shadow: 4px 4px 12px var(--clr-shadow);
    }

    .right .menu
    {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: -4px;
        opacity: .4;
        cursor: pointer;
        fill: var(--clr-font);
        transition: .32s;
    }

    .right .random_bg
    {
        position: absolute;
        top: 6%;
        right: 6%;
        height: calc(3em + 5vw);
    }

    .right .target
    {
        position: absolute;
        top: 12vh;
        left: 24%;
        cursor: pointer;
        z-index: 10;
    }

    .right .orbit
    {
        position: absolute;
        margin: 0;
    }

    .right .html.orbit
    {
        top: 18vh;
        left: 37%;
        width: calc(1em + .6vw);
        height: calc(1em + .6vw);
        animation: roundhtml 4s ease-in-out 0s infinite normal none;
    }

    @keyframes roundhtml
    {
        0%
        {
            top: 18vh;
            left: 37%;
            z-index: 0;
        }
        50%
        {
            top: 45vh;
            left: 74%;
            z-index: 0;
        }
        55%
        {
            z-index: 2;
        }
        100%
        {
            top: 18vh;
            left: 37%;
            z-index: 2;
        }
    }

    .right .css.orbit
    {
        bottom: 12vh;
        right: 33%;
        width: calc(1.4em + .6vw);
        height: calc(1.4em + .6vw);
        animation: roundcss 4s ease-in-out 0s infinite normal none;
    }

    @keyframes roundcss
    {
        0%
        {
            top: 45vh;
            left: 66%;
            z-index: 2;
        }
        50%
        {
            top: 16vh;
            left: 33%;
            z-index: 2;
        }
        54%
        {
            z-index: 0;
        }
        100%
        {
            top: 45vh;
            left: 66%;
            z-index: 0;
        }
    }

    .right .js.orbit
    {
        top: 20vh;
        right: 50%;
        width: calc(.8em + .6vw);
        height: calc(.8em + .6vw);
        animation: roundjs 4s ease-in-out 0s infinite normal none;
    }

    @keyframes roundjs
    {
        0%
        {
            top: 20vh;
            left: 50%;
            z-index: 0;
        }
        50%
        {
            top: 46vh;
            left: 87%;
            z-index: 0;
        }
        58%
        {
            z-index: 2;
        }
        100%
        {
            top: 20vh;
            left: 50%;
            z-index: 2;
        }
    }

    .right .faq
    {
        position: absolute;
        top: 42%;
        left: 5%;
        right: 5%;
        width: 80%;
        margin: 0 auto;
        padding: 12px 12px 6px;
        background: var(--clr-bg);
        border-radius: 16px;
        font-size:  calc(.16rem + .8vw);
        box-shadow: 4px 4px 8px var(--clr-shadow);
        z-index: 1;
    }

    .right .faq .top
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calc(.32em + .8vw);
        font-weight: 600;
    }

    .right .faq .top .plus,
    .right .faq .top .minus
    {
        cursor: pointer;
        fill: var(--clr-font);
    }

    .not_display
    {
        display: none;
    }

    .right .faq .separator
    {
        width: 100%;
        height: 1px;
        margin: 2px 0 8px;
        background: rgba(186,196,214, .4);
    }

    .right .faq .content
    {
        height: 10vh;
        overflow-y: hidden;
    }

    .hidden
    {
        height: 0vh !important;
        transition: .6s ease;
    }

    .right .shuttle_container
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .right .shuttle_space
    {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 8%;
        top: 74%;
    }

    .right .shuttle_space svg
    {
        cursor: pointer;
        fill: var(--clr-font);
    }

    .right .shuttle_space p
    {
        position: absolute;
        top: -24px;
        margin-bottom: 4px;
        font-size: calc(.24em + .8vw);
        font-weight: 600;
        opacity: .4;
        animation: hold 3s ease-in-out 0s infinite normal none;
    }

    @keyframes hold
    {
        0%
        {
            opacity: .4;
        }
        45%
        {
            opacity: 0;
        }
        55%
        {
            opacity: 0;
        }
        100%
        {
            opacity: .4;
        }
    }

    .right .stats
    {
        position: relative;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .right .score, .right .timeout
    {
        display: flex;
        font-weight: 600;
    }

    .right .score
    {
        font-size: calc(.36rem + .8vw);
        z-index: 1;
    }

    .right .timeout
    {
        font-size: calc(1.2em + 1vw);
        margin-bottom: -4px;
    }

    .right .timeout span
    {
        color: var(--clr-span);
        margin-left: 0;
        margin-right: calc(12px + .6vw);
    }

    @media(max-width:940px)
    {
        section
        {
            padding: 32px;
            flex-direction: column;
            overflow-y: scroll;
        }

        section::-webkit-scrollbar
        {
            border-radius: 10px;
            box-shadow: inset 1px 1px 4px rgb(186,196,214);
        }

        section::-webkit-scrollbar-thumb
        {
            background: #d6dee9;
            border-radius: 10px;
            opacity: .8;
        }

        section::-webkit-scrollbar-corner
        {
            background: #ecf0f3;
        }

        .left
        {
            width: 100%;
        }

        .left .data
        {
            height: auto;
            margin-bottom: 4vh;
            padding-right: 0;
        }

        .right
        {
            width: 100%;
            margin-right: 0;
        }

        .right .menu
        {
            margin-bottom: 42vh;
        }

        .right .random_bg
        {
            height: calc(10vw + 3em);
        }

        .right .faq
        {
            font-size:  calc(.32rem + 1vw);
        }

        .right .faq .top
        {
            font-size: calc(.48em + 1.1vw);
        }

        .right .faq .content
        {
            height: 8vh;
        }

        .right .score
        {
            font-size: 1em;
        }
    }
</style>

<script src="../scripts/little_js.js" />