---

---

<main>
    <div class="left">
        <div class="hand_dl_mode">
            <div class="all_hands">
                <svg class="hand arrow" height="95" viewBox="0 0 73 106" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path" d="M55.1475 101.968C59.7234 93.432 64.0834 82.9569 64.2616 73.1979C64.4538 62.6697 61.1141 52.0275 55.6203 43.1083C46.9866 29.0917 33.0506 20.4949 18.5306 13.4983" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path id="path" d="M24.0819 4.25317C22.7912 5.13726 22.2548 6.54111 21.1837 7.66269C19.6177 9.3025 17.8753 11.2244 16.6429 13.1383C14.8323 15.9504 14.0676 19.4943 11.5102 21.6557" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path id="path" d="M22.8891 4.25584C18.574 3.77639 14.1708 2.3235 9.70267 2.3235C9.09095 2.3235 2.32013 1.78947 2.45639 2.19825C2.94233 3.65608 3.99763 4.83344 4.675 6.18818C5.17072 7.17962 5.60319 8.18001 5.98112 9.22982C6.46832 10.5831 7.59927 11.5789 8.00292 12.9514C8.75817 15.5192 10.1077 18.3059 11.2951 20.6807" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>
                <svg class="hand text" height="24" viewBox="0 0 132 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path" d="M11.008 20.216C9.664 22.04 7.776 24.024 5.344 24.024C3.776 24.024 2.112 23.192 1.472 21.688C1.152 21.048 0.928 20.344 0.832 19.64C0.576 17.912 0.832 16.12 1.28 14.424C1.856 12.216 3.264 10.104 5.056 8.696C6.72 7.384 8.992 6.616 11.104 6.776C11.2 5.08 11.296 3.384 11.488 1.72C11.616 0.727999 12.48 0.0879993 13.376 0.0879993C14.144 0.0879993 14.912 0.599998 15.168 1.336C15.328 1.72 15.296 2.136 15.264 2.52C15.04 4.536 14.944 6.552 14.848 8.568C14.688 11.256 14.528 13.976 14.624 16.696C14.656 17.368 14.784 20.44 14.976 21.08C15.072 21.432 15.168 21.816 15.104 22.2C14.944 23.128 14.112 23.768 13.216 23.768C12.704 23.768 12.032 23.512 11.744 23.064C11.168 22.264 11.104 21.208 11.008 20.216ZM4.992 20.088C5.152 20.248 5.568 20.152 5.76 20.056C6.304 19.832 6.752 19.352 7.168 18.904C8.384 17.496 9.28 15.8 10.368 14.296C10.4 14.232 10.592 14.072 10.624 14.04C10.656 13.976 10.784 13.944 10.784 13.88C10.816 12.792 10.848 11.704 10.912 10.584C9.92 10.552 8.896 10.776 8.064 11.288C7.264 11.768 6.528 12.472 5.984 13.272C5.024 14.744 4.512 16.664 4.576 18.456C4.576 18.84 4.704 19.832 4.992 20.088ZM26.7698 18.648C25.8098 20.664 24.4338 23.608 21.8418 23.608C19.2498 23.608 17.6497 20.952 17.3938 18.616C17.1378 16.216 17.6497 13.72 18.6418 11.544C19.8258 9.08 21.4258 7 24.4338 7C25.3298 7 26.2578 7.128 27.0578 7.512C27.3458 7.672 27.6658 7.768 27.9218 7.992C28.4338 8.408 28.7218 9.24 28.5618 9.88C28.9458 10.136 29.2658 10.52 29.3618 10.936C29.5538 11.608 29.6178 12.28 29.7138 12.952C29.9378 14.904 30.1618 16.888 30.8338 18.744C31.3138 20.12 30.2578 21.336 29.0418 21.336C27.5058 21.336 27.0898 19.864 26.7698 18.648ZM21.2338 18.232C21.2977 18.712 21.5218 19.192 21.7778 19.64C23.0898 18.104 24.1138 15.192 24.7218 13.336C24.8177 13.048 25.3618 11.32 25.4898 11.032C25.0738 10.84 24.6258 10.808 24.1778 10.84C23.8898 10.84 23.5698 11.032 23.3778 11.256C22.2578 12.376 21.6498 14.104 21.3298 15.608C21.1698 16.472 21.1058 17.368 21.2338 18.232ZM36.1705 21.432C35.8185 22.008 35.1465 22.392 34.4745 22.392C33.6105 22.392 32.6185 21.656 32.5545 20.76C32.4905 20.088 32.7465 16.568 32.7785 15.896C32.8745 14.392 32.9385 12.888 33.0345 11.384C33.0985 10.168 33.0345 7.128 34.0265 6.424C34.3465 6.2 34.7625 5.976 35.1785 5.976C35.8185 5.976 36.6505 6.392 36.9385 6.968C37.0985 7.352 37.2585 7.832 37.1305 8.248C36.9385 9.08 36.9385 9.944 36.9065 10.808C37.8025 9.528 39.6585 7.32 40.9705 6.68C41.1945 6.584 41.4185 6.552 41.6745 6.552C42.3465 6.552 43.0185 6.84 43.4025 7.352C43.6265 7.704 43.8825 8.152 43.8185 8.568C43.7545 9.272 43.3705 10.2 42.5705 10.36C42.5065 10.392 42.2825 10.424 42.2185 10.488C39.7545 12.952 37.6425 15.992 36.7785 19.384C36.6825 19.704 36.3305 21.144 36.1705 21.432ZM49.6283 22.072C49.7243 23.128 48.7003 24.056 47.6763 24.056C46.8443 24.056 45.9163 23.256 45.8203 22.424C45.6923 20.792 45.5323 19.16 45.5323 17.528C45.5323 16.312 45.5643 15.096 45.6283 13.912C45.6923 12.472 46.2043 4.376 46.3963 2.936C46.5243 1.816 47.4843 0.727999 48.6363 0.727999C49.5003 0.727999 50.4283 1.464 50.5243 2.328C50.5563 2.776 50.5243 3.256 50.2683 3.64C50.2363 3.672 50.1403 3.768 50.1403 3.832C50.0763 4.792 49.6603 10.68 49.5963 11.64C50.4603 11.096 53.5963 9.048 54.1083 8.152C54.4923 7.48 55.1323 7.128 55.8043 7.128C56.1883 7.128 56.5723 7.256 56.8923 7.48C57.5643 7.96 57.9483 8.984 57.5963 9.72C57.4043 10.168 57.1483 10.584 56.7963 10.936C55.3563 12.376 53.6923 13.528 52.0283 14.648C53.5003 15.288 55.1643 15.608 56.7643 15.864C57.2763 15.96 57.7243 16.216 58.0123 16.664C59.0043 18.072 57.7883 19.928 56.0923 19.64C53.7883 19.256 51.3883 18.776 49.3723 17.592C49.4043 19.096 49.5003 20.6 49.6283 22.072ZM71.7993 21.56C71.3513 22.168 70.9033 22.52 70.1033 22.52C69.1432 22.52 68.2473 21.848 68.1513 20.824C68.0233 19.256 68.2473 10.328 68.2473 8.728C68.2473 7.544 69.2073 6.744 70.1993 6.744C71.0953 6.744 71.9273 7.48 72.0553 8.376C72.1193 8.696 72.0873 10.264 72.0553 10.584C73.0793 9.176 74.9033 7.224 76.7913 7.224C78.2633 7.224 79.0313 8.408 79.5113 9.624C80.4393 8.28 81.9113 7.096 83.6073 7.096C86.3593 7.096 87.1593 10.52 87.4473 12.664C87.7993 15.352 87.7673 18.104 87.5433 20.792C87.4473 21.752 86.4873 22.424 85.5593 22.424C85.2393 22.424 84.9193 22.36 84.6632 22.168C84.1513 21.784 83.6713 21.112 83.7033 20.472C83.8953 18.008 83.9913 15.512 83.6393 13.048C83.5433 12.408 83.4153 11.768 83.2233 11.192C82.0393 12.248 81.3033 14.2 80.8233 15.672C80.5673 16.376 80.4393 17.08 80.0873 17.752C79.7033 18.456 79.0633 18.776 78.3913 18.776C77.5273 18.776 76.6313 18.2 76.4392 17.144C76.3753 16.792 76.4392 15.064 76.4392 14.712C76.4073 13.688 76.3113 12.696 76.1193 11.704C74.1673 13.656 73.1113 17.08 72.4073 19.704C72.3113 20.024 71.9913 21.304 71.7993 21.56ZM100.977 17.4C99.953 19.768 97.969 22.232 95.185 22.232C92.497 22.232 90.033 20.248 89.425 17.624C89.169 16.376 89.297 15.032 89.617 13.784C90.225 11.288 92.785 6.456 95.857 6.456C96.049 6.456 96.241 6.456 96.465 6.488C96.529 6.488 96.625 6.424 96.721 6.424C96.945 6.424 97.169 6.36 97.393 6.424C100.337 7.288 101.297 9.08 101.617 12.024C101.777 13.816 101.649 15.704 100.977 17.4ZM93.457 17.432C93.777 17.912 94.545 18.424 95.153 18.424C95.985 18.424 96.977 16.888 97.297 16.216C97.905 14.904 97.969 13.304 97.713 11.864C97.649 11.416 97.553 10.936 97.297 10.584C97.169 10.392 96.913 10.328 96.721 10.232C96.689 10.232 95.985 10.328 95.985 10.328C95.249 10.968 94.641 11.8 94.161 12.664C93.489 13.848 92.657 16.344 93.457 17.432ZM113.414 20.216C112.07 22.04 110.182 24.024 107.75 24.024C106.182 24.024 104.518 23.192 103.878 21.688C103.558 21.048 103.334 20.344 103.238 19.64C102.982 17.912 103.238 16.12 103.686 14.424C104.262 12.216 105.67 10.104 107.462 8.696C109.126 7.384 111.398 6.616 113.51 6.776C113.606 5.08 113.702 3.384 113.894 1.72C114.022 0.727999 114.886 0.0879993 115.782 0.0879993C116.55 0.0879993 117.318 0.599998 117.574 1.336C117.734 1.72 117.702 2.136 117.67 2.52C117.446 4.536 117.35 6.552 117.254 8.568C117.094 11.256 116.934 13.976 117.03 16.696C117.062 17.368 117.19 20.44 117.382 21.08C117.478 21.432 117.574 21.816 117.51 22.2C117.35 23.128 116.518 23.768 115.622 23.768C115.11 23.768 114.438 23.512 114.15 23.064C113.574 22.264 113.51 21.208 113.414 20.216ZM107.398 20.088C107.558 20.248 107.974 20.152 108.166 20.056C108.71 19.832 109.158 19.352 109.574 18.904C110.79 17.496 111.686 15.8 112.774 14.296C112.806 14.232 112.998 14.072 113.03 14.04C113.062 13.976 113.19 13.944 113.19 13.88C113.222 12.792 113.254 11.704 113.318 10.584C112.326 10.552 111.302 10.776 110.47 11.288C109.67 11.768 108.934 12.472 108.39 13.272C107.43 14.744 106.918 16.664 106.982 18.456C106.982 18.84 107.11 19.832 107.398 20.088ZM130.328 21.56C129.336 22.008 128.6 22.264 127.544 22.264C126.872 22.264 126.168 22.168 125.528 22.008C121.88 21.24 119.992 18.84 119.704 15.064C119.352 11.16 122.424 7.416 126.296 6.872C126.648 6.808 127 6.808 127.352 6.808C128.12 6.808 128.92 6.936 129.592 7.256C131.576 8.184 131.96 11.096 131.224 13.144C130.424 15.544 128.152 16.792 125.688 16.792C125.112 16.792 124.536 16.728 123.96 16.664C124.088 16.92 124.248 17.144 124.44 17.368C125.048 18.072 126.968 18.584 127.896 18.392C128.408 18.296 128.888 17.912 129.4 17.976C130.2 18.04 130.936 18.424 131.192 19.224C131.352 19.768 131.352 20.408 131.032 20.856C130.84 21.112 130.648 21.4 130.328 21.56ZM123.992 12.792C124.536 12.888 125.144 12.952 125.752 12.952C126.648 12.952 127.288 12.728 127.64 11.832C127.768 11.448 127.736 11.032 127.672 10.648C127.128 10.584 126.584 10.68 126.072 10.84C125.176 11.16 124.44 11.928 123.992 12.792Z" fill="black"/>
                </svg>
                <svg class="hand underline" height="6" viewBox="0 0 127 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path" d="M2.08121 4.44719C12.2653 3.93798 22.404 2.23913 32.6256 2.09617C52.0359 1.8247 71.2677 4.11804 90.6298 4.91739C102.215 5.39569 113.703 4.47103 124.973 1.73882" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </div>
            <button class="dl_mode">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path id="path" d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/>
                </svg>
            </button>
        </div>
        <div class="hand_signature">
            <div class="all_hands">
                <svg class="hand arrow" height="69" viewBox="0 0 46 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="path" d="M44.504 2C33.178 2 23.2851 12.5076 21.9577 23.6093C21.5533 26.9911 21.8483 30.3085 23.3046 33.3892C24.1248 35.1243 25.5597 37.0274 25.9399 38.894C27.3753 45.9404 24.645 50.3201 19.7323 55.2328" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path id="path" d="M19.3798 55.6334C19.1419 55.6631 18.6749 56.1745 18.4163 56.3114C18.0564 56.5019 17.6988 56.7575 17.2922 56.7575" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path id="path" d="M10.1749 48.5789C11.0585 49.8372 11.5799 51.3332 12.3662 52.6558C13.2371 54.1206 14.1114 55.5806 14.9982 57.0363C16.5496 59.583 18.2197 62.4796 18.8901 65.4037" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path id="path" d="M9.31875 50.1414C8.64468 50.8798 8.26117 52.1439 7.86185 53.056C7.25794 54.4355 6.54691 55.7449 5.87843 57.095C4.90487 59.0612 3.5371 60.8537 2.73177 62.9017C2.52098 63.4378 2.33749 63.9713 2.1085 64.4867C1.78232 65.2208 4.73367 65.6774 5.04564 65.7108C7.94293 66.021 10.8603 66.3491 13.7699 66.5018C15.4766 66.5914 18.3213 67.304 19.9419 66.6805" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>
                <div class="hand_font">
                    <svg class="hand text" height="29" viewBox="0 0 120 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="path" d="M11.872 21.016C10.912 22.776 8.128 23.704 5.792 23.704C5.216 23.704 4.672 23.672 4.192 23.544C3.744 23.448 1.76 22.872 1.376 22.616C0.96 22.392 0.608 21.944 0.48 21.496C0.128 20.184 1.12 19.032 2.336 19.032C2.56 19.032 2.784 19.064 3.008 19.16C3.936 19.512 4.896 19.864 5.888 19.864C6.688 19.864 7.52 19.672 8.224 19.288C8.32 19.256 8.512 19.192 8.512 19.096C8.512 18.328 7.072 17.272 6.496 16.824C5.632 16.152 4.768 15.48 4 14.744C3.392 14.168 2.816 13.528 2.496 12.76C2.112 11.832 2.336 10.584 2.912 9.752C4.032 8.088 5.504 6.744 7.616 6.744C9.28 6.744 11.488 8.312 12.288 9.656C12.608 10.232 12.64 11.064 12.256 11.608C11.872 12.248 11.296 12.568 10.528 12.568C10.048 12.568 9.376 12.216 9.12 11.832C8.96 11.576 7.84 10.552 7.52 10.552C7.168 10.584 6.528 11.288 6.304 11.576C6.24 11.64 6.368 11.704 6.432 11.768C7.456 12.76 8.608 13.56 9.696 14.456C11.104 15.64 12.352 17.048 12.352 19C12.384 19.704 12.192 20.408 11.872 21.016ZM17.9845 3.64C17.6325 3.8 17.2165 3.896 16.8325 3.896C16.2245 3.896 15.5205 3.448 15.2645 2.936C14.9765 2.36 14.9125 1.528 15.2645 1.016C15.6805 0.407999 16.3845 0.0559998 17.0565 0.0559998C17.4725 0.0559998 17.9205 0.183998 18.2725 0.504C18.7845 0.919998 19.0405 1.624 18.9125 2.296C18.8165 2.84 18.4645 3.384 17.9845 3.64ZM17.8565 23.256C17.5365 23.48 17.1525 23.576 16.7685 23.576C15.0725 23.576 14.8485 22.136 14.7525 20.824C14.5605 17.656 14.5605 14.456 14.7205 11.288C14.7845 10.36 14.9445 8.6 15.4565 7.832C15.8725 7.256 16.3845 6.904 17.1205 6.904C18.1125 6.904 19.0405 7.672 19.0405 8.824C19.0405 9.304 18.8165 9.752 18.6885 10.2C18.5605 10.776 18.4645 13.592 18.4645 14.168C18.4325 15.224 18.4325 20.248 18.6245 21.24C18.7845 22.072 18.4965 22.776 17.8565 23.256ZM33.3708 25.816C32.3468 28.44 30.0428 30.264 27.1628 30.264C23.8988 30.264 21.4988 28.088 20.6028 25.08C20.4428 24.504 20.3788 23.864 20.5388 23.288C20.7948 22.296 21.5948 21.848 22.3628 21.848C23.3228 21.848 24.2828 22.52 24.2828 23.768C24.3148 25.208 25.7548 26.424 27.1308 26.424C30.0108 26.424 30.4268 22.616 30.4908 20.44C29.4988 21.176 28.5708 21.592 27.3228 21.592C25.0508 21.592 23.1308 20.216 22.2988 18.104C21.8828 17.112 21.8508 15.96 21.9468 14.904C22.2028 12.504 23.4828 10.168 25.1788 8.472C26.4268 7.224 27.7708 6.168 29.6267 6.168C30.1068 6.2 31.6428 6.392 32.0268 6.68C32.3148 6.872 32.6028 7.128 32.7628 7.48C32.7948 7.544 32.8908 7.512 32.9548 7.544C33.4668 7.768 33.9468 8.216 34.1068 8.728C34.3308 9.432 34.3308 10.2 34.2668 10.936C34.2348 11.704 34.1708 12.44 34.0428 13.208C34.0428 13.24 34.0428 13.24 34.0428 13.272C34.1388 15.736 34.3948 18.2 34.3308 20.664C34.2668 22.392 34.0428 24.184 33.3708 25.816ZM25.8188 16.536C26.0108 17.24 26.5868 17.784 27.2588 17.784C28.8588 17.784 29.9148 14.456 30.1388 13.208C30.2348 12.792 30.1708 10.552 30.2028 10.104C30.1068 10.104 29.5948 10.008 29.4668 10.008C29.1788 10.04 28.5068 10.584 28.2828 10.776C27.2908 11.672 26.4588 12.888 26.0428 14.168C25.7868 14.936 25.5948 15.768 25.8188 16.536ZM40.3975 22.072C40.0135 22.744 39.3415 23.096 38.6695 23.096C37.8695 23.096 37.0695 22.616 36.8135 21.72C36.5895 20.952 36.5575 17.432 36.5575 16.664C36.5575 15.608 36.7175 9.784 36.8135 8.728C36.9095 7.672 37.8055 6.936 38.8295 6.936C39.5655 6.936 40.3975 7.416 40.5895 8.184C40.6855 8.504 40.7815 8.856 40.6855 9.176C40.6215 9.464 40.5895 9.752 40.5575 10.04C41.3255 8.856 42.2535 7.672 43.4695 7C44.3335 6.52 45.3255 6.232 46.2855 6.36C48.1735 6.712 49.0375 8.728 49.2295 10.456C49.6455 13.848 49.4535 17.304 49.3255 20.696C49.2935 21.88 48.3655 22.68 47.4055 22.68C46.3175 22.68 45.4855 21.752 45.4855 20.696C45.5815 17.784 45.7415 14.872 45.5495 11.96C45.5175 11.416 45.4535 10.872 45.2935 10.36C43.2455 11.672 41.4535 17.496 40.9735 19.736C40.9095 20.088 40.5895 21.752 40.3975 22.072ZM60.676 18.648C59.716 20.664 58.34 23.608 55.748 23.608C53.156 23.608 51.556 20.952 51.3 18.616C51.044 16.216 51.556 13.72 52.548 11.544C53.732 9.08 55.332 7 58.34 7C59.236 7 60.164 7.128 60.964 7.512C61.252 7.672 61.572 7.768 61.828 7.992C62.34 8.408 62.628 9.24 62.468 9.88C62.852 10.136 63.172 10.52 63.268 10.936C63.46 11.608 63.524 12.28 63.62 12.952C63.844 14.904 64.068 16.888 64.74 18.744C65.22 20.12 64.164 21.336 62.948 21.336C61.412 21.336 60.996 19.864 60.676 18.648ZM55.14 18.232C55.204 18.712 55.428 19.192 55.684 19.64C56.996 18.104 58.02 15.192 58.628 13.336C58.724 13.048 59.268 11.32 59.396 11.032C58.98 10.84 58.532 10.808 58.084 10.84C57.796 10.84 57.476 11.032 57.284 11.256C56.164 12.376 55.556 14.104 55.236 15.608C55.076 16.472 55.012 17.368 55.14 18.232ZM77.4123 20.504C76.6763 22.104 74.7563 22.904 73.0603 22.904C69.8923 22.904 68.5803 20.92 68.2923 18.072C68.0363 15.704 68.0043 13.336 68.2283 10.968C67.2682 10.904 66.4363 10.744 65.8603 9.88C65.0922 8.472 66.1803 6.936 67.5883 6.936C67.8443 6.936 68.1323 7 68.4203 7.128C68.4523 7.16 68.6123 7.16 68.6123 7.128C68.6443 6.552 68.8363 4.184 69.0603 3.672C69.4443 2.808 69.9883 2.136 71.0123 2.136C71.7483 2.136 72.4203 2.52 72.7723 3.224C73.0283 3.8 72.9963 4.6 72.6443 5.112C72.5483 5.752 72.5163 6.392 72.4523 7.032C72.9323 6.936 73.4123 6.744 73.8923 6.744C73.9563 6.744 74.0523 6.776 74.1483 6.776C75.5243 7.032 76.1963 8.632 75.3643 9.784C74.7243 10.712 73.0923 10.84 72.0683 10.936C71.9083 12.568 71.8763 14.232 71.9403 15.896C72.0043 16.888 72.0363 17.912 72.3883 18.84C72.3883 18.904 72.4203 18.968 72.4843 19C72.8043 19.064 73.5723 19.064 73.8283 18.872C73.8923 18.84 74.3083 18.424 74.3723 18.36C74.7243 18.136 75.1083 17.912 75.5243 17.912C76.0683 17.912 76.7723 18.168 77.0923 18.616C77.4443 19.128 77.6683 19.928 77.4123 20.504ZM93.104 20.888C93.648 22.328 92.496 23.512 91.28 23.512C90.768 23.512 90.256 23.288 89.84 22.808C89.392 22.264 88.688 19.736 88.528 19.064C87.568 20.856 85.904 23.032 83.632 23.032C81.488 23.032 80.144 21.24 79.472 19.384C78.832 17.56 78.832 15.544 78.992 13.624C79.088 12.28 79.504 8.28 80.464 7.32C80.976 6.808 81.456 6.456 82.192 6.456C83.76 6.456 84.784 8.472 83.504 9.72C83.472 9.784 83.408 10.072 83.376 10.168C83.056 11.608 82.832 13.08 82.768 14.552C82.736 15.544 82.736 16.568 82.928 17.56C83.056 18.136 83.248 18.744 83.664 19.128C83.792 19.064 83.888 18.968 83.984 18.872C85.712 17.08 86.704 13.752 87.184 11.384C87.28 10.904 87.6 8.952 87.888 8.536C88.208 8.088 88.688 7.672 89.232 7.608C90.032 7.608 90.8 7.736 91.216 8.568C91.344 8.792 91.44 9.048 91.472 9.304C91.568 10.552 91.568 11.8 91.632 13.048C91.76 15.704 92.112 18.392 93.104 20.888ZM98.4518 21.432C98.0998 22.008 97.4278 22.392 96.7558 22.392C95.8918 22.392 94.8997 21.656 94.8358 20.76C94.7718 20.088 95.0278 16.568 95.0598 15.896C95.1558 14.392 95.2198 12.888 95.3158 11.384C95.3798 10.168 95.3158 7.128 96.3078 6.424C96.6278 6.2 97.0438 5.976 97.4598 5.976C98.0998 5.976 98.9318 6.392 99.2198 6.968C99.3798 7.352 99.5398 7.832 99.4118 8.248C99.2198 9.08 99.2198 9.944 99.1878 10.808C100.084 9.528 101.94 7.32 103.252 6.68C103.476 6.584 103.7 6.552 103.956 6.552C104.628 6.552 105.3 6.84 105.684 7.352C105.908 7.704 106.164 8.152 106.1 8.568C106.036 9.272 105.652 10.2 104.852 10.36C104.788 10.392 104.564 10.424 104.5 10.488C102.036 12.952 99.9238 15.992 99.0598 19.384C98.9638 19.704 98.6118 21.144 98.4518 21.432ZM117.578 21.56C116.586 22.008 115.85 22.264 114.794 22.264C114.122 22.264 113.418 22.168 112.778 22.008C109.13 21.24 107.242 18.84 106.954 15.064C106.602 11.16 109.674 7.416 113.546 6.872C113.898 6.808 114.25 6.808 114.602 6.808C115.37 6.808 116.17 6.936 116.842 7.256C118.826 8.184 119.21 11.096 118.474 13.144C117.674 15.544 115.402 16.792 112.938 16.792C112.362 16.792 111.786 16.728 111.21 16.664C111.338 16.92 111.498 17.144 111.69 17.368C112.298 18.072 114.218 18.584 115.146 18.392C115.658 18.296 116.138 17.912 116.65 17.976C117.45 18.04 118.186 18.424 118.442 19.224C118.602 19.768 118.602 20.408 118.282 20.856C118.09 21.112 117.898 21.4 117.578 21.56ZM111.242 12.792C111.786 12.888 112.394 12.952 113.002 12.952C113.898 12.952 114.538 12.728 114.89 11.832C115.018 11.448 114.986 11.032 114.922 10.648C114.378 10.584 113.834 10.68 113.322 10.84C112.426 11.16 111.69 11.928 111.242 12.792Z" fill="black"/>
                    </svg>
                    <svg class="hand underline" height="8" viewBox="0 0 114 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 5.3784C10.8621 4.03565 19.9146 3.35136 28.977 3.35136C38.0269 3.35136 47.0675 4.50289 56.1191 4.74026C62.4971 4.90751 68.8748 5.42251 75.2508 5.71624C80.5405 5.95993 85.8418 6.1077 91.1341 5.90393C98.3711 5.62528 104.939 3.7653 112 2" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
            <p class="signature">Paul<span style="color: #de4900;">.</span></br>Mallet</p>
        </div>
    </div>
    <div class="right">
        <div class="hand_sound">
            <div class="all_hands">
                <svg class="hand arrow" height="55" viewBox="0 0 99 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 53C2 51.422 2.32476 49.7786 2.91503 48.2861C4.28598 44.8199 4.47265 41.1041 6.11765 37.6728C9.46908 30.682 13.1451 23.2142 22.0327 20.5236C41.2973 14.6914 65.065 26.989 82 15" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path d="M75 6C80.12 11.2224 86.7883 17.4482 90 24" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path d="M77.9147 3.86306C82.324 3.81853 86.7057 3.07955 91.0997 2.87738C92.6505 2.80603 95.0716 1.59622 96.5642 1.99335C97.6688 2.28723 94.6603 12.8488 94.0568 15.0199C93.3635 17.5136 93.0265 19.4663 93.0525 22.0399" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>
                <div class="hand_font">
                    <svg class="hand text" height="24" viewBox="0 0 74 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.872 21.016C10.912 22.776 8.128 23.704 5.792 23.704C5.216 23.704 4.672 23.672 4.192 23.544C3.744 23.448 1.76 22.872 1.376 22.616C0.96 22.392 0.608 21.944 0.48 21.496C0.128 20.184 1.12 19.032 2.336 19.032C2.56 19.032 2.784 19.064 3.008 19.16C3.936 19.512 4.896 19.864 5.888 19.864C6.688 19.864 7.52 19.672 8.224 19.288C8.32 19.256 8.512 19.192 8.512 19.096C8.512 18.328 7.072 17.272 6.496 16.824C5.632 16.152 4.768 15.48 4 14.744C3.392 14.168 2.816 13.528 2.496 12.76C2.112 11.832 2.336 10.584 2.912 9.752C4.032 8.088 5.504 6.744 7.616 6.744C9.28 6.744 11.488 8.312 12.288 9.656C12.608 10.232 12.64 11.064 12.256 11.608C11.872 12.248 11.296 12.568 10.528 12.568C10.048 12.568 9.376 12.216 9.12 11.832C8.96 11.576 7.84 10.552 7.52 10.552C7.168 10.584 6.528 11.288 6.304 11.576C6.24 11.64 6.368 11.704 6.432 11.768C7.456 12.76 8.608 13.56 9.696 14.456C11.104 15.64 12.352 17.048 12.352 19C12.384 19.704 12.192 20.408 11.872 21.016ZM25.6645 17.4C24.6405 19.768 22.6565 22.232 19.8725 22.232C17.1845 22.232 14.7205 20.248 14.1125 17.624C13.8565 16.376 13.9845 15.032 14.3045 13.784C14.9125 11.288 17.4725 6.456 20.5445 6.456C20.7365 6.456 20.9285 6.456 21.1525 6.488C21.2165 6.488 21.3125 6.424 21.4085 6.424C21.6325 6.424 21.8565 6.36 22.0805 6.424C25.0245 7.288 25.9845 9.08 26.3045 12.024C26.4645 13.816 26.3365 15.704 25.6645 17.4ZM18.1445 17.432C18.4645 17.912 19.2325 18.424 19.8405 18.424C20.6725 18.424 21.6645 16.888 21.9845 16.216C22.5925 14.904 22.6565 13.304 22.4005 11.864C22.3365 11.416 22.2405 10.936 21.9845 10.584C21.8565 10.392 21.6005 10.328 21.4085 10.232C21.3765 10.232 20.6725 10.328 20.6725 10.328C19.9365 10.968 19.3285 11.8 18.8485 12.664C18.1765 13.848 17.3445 16.344 18.1445 17.432ZM42.1978 20.888C42.7418 22.328 41.5898 23.512 40.3738 23.512C39.8618 23.512 39.3498 23.288 38.9338 22.808C38.4858 22.264 37.7818 19.736 37.6218 19.064C36.6618 20.856 34.9978 23.032 32.7258 23.032C30.5818 23.032 29.2378 21.24 28.5658 19.384C27.9258 17.56 27.9258 15.544 28.0858 13.624C28.1818 12.28 28.5978 8.28 29.5578 7.32C30.0698 6.808 30.5498 6.456 31.2858 6.456C32.8538 6.456 33.8778 8.472 32.5978 9.72C32.5658 9.784 32.5018 10.072 32.4698 10.168C32.1498 11.608 31.9258 13.08 31.8618 14.552C31.8298 15.544 31.8298 16.568 32.0218 17.56C32.1498 18.136 32.3418 18.744 32.7578 19.128C32.8858 19.064 32.9818 18.968 33.0778 18.872C34.8058 17.08 35.7978 13.752 36.2778 11.384C36.3738 10.904 36.6938 8.952 36.9818 8.536C37.3018 8.088 37.7818 7.672 38.3258 7.608C39.1258 7.608 39.8938 7.736 40.3098 8.568C40.4378 8.792 40.5338 9.048 40.5658 9.304C40.6618 10.552 40.6618 11.8 40.7258 13.048C40.8538 15.704 41.2058 18.392 42.1978 20.888ZM47.8975 22.072C47.5135 22.744 46.8415 23.096 46.1695 23.096C45.3695 23.096 44.5695 22.616 44.3135 21.72C44.0895 20.952 44.0575 17.432 44.0575 16.664C44.0575 15.608 44.2175 9.784 44.3135 8.728C44.4095 7.672 45.3055 6.936 46.3295 6.936C47.0655 6.936 47.8975 7.416 48.0895 8.184C48.1855 8.504 48.2815 8.856 48.1855 9.176C48.1215 9.464 48.0895 9.752 48.0575 10.04C48.8255 8.856 49.7535 7.672 50.9695 7C51.8335 6.52 52.8255 6.232 53.7855 6.36C55.6735 6.712 56.5375 8.728 56.7295 10.456C57.1455 13.848 56.9535 17.304 56.8255 20.696C56.7935 21.88 55.8655 22.68 54.9055 22.68C53.8175 22.68 52.9855 21.752 52.9855 20.696C53.0815 17.784 53.2415 14.872 53.0495 11.96C53.0175 11.416 52.9535 10.872 52.7935 10.36C50.7455 11.672 48.9535 17.496 48.4735 19.736C48.4095 20.088 48.0895 21.752 47.8975 22.072ZM69.008 20.216C67.664 22.04 65.776 24.024 63.344 24.024C61.776 24.024 60.112 23.192 59.472 21.688C59.152 21.048 58.928 20.344 58.832 19.64C58.576 17.912 58.832 16.12 59.28 14.424C59.856 12.216 61.264 10.104 63.056 8.696C64.72 7.384 66.992 6.616 69.104 6.776C69.2 5.08 69.296 3.384 69.488 1.72C69.616 0.727999 70.48 0.0879993 71.376 0.0879993C72.144 0.0879993 72.912 0.599998 73.168 1.336C73.328 1.72 73.296 2.136 73.264 2.52C73.04 4.536 72.944 6.552 72.848 8.568C72.688 11.256 72.528 13.976 72.624 16.696C72.656 17.368 72.784 20.44 72.976 21.08C73.072 21.432 73.168 21.816 73.104 22.2C72.944 23.128 72.112 23.768 71.216 23.768C70.704 23.768 70.032 23.512 69.744 23.064C69.168 22.264 69.104 21.208 69.008 20.216ZM62.992 20.088C63.152 20.248 63.568 20.152 63.76 20.056C64.304 19.832 64.752 19.352 65.168 18.904C66.384 17.496 67.28 15.8 68.368 14.296C68.4 14.232 68.592 14.072 68.624 14.04C68.656 13.976 68.784 13.944 68.784 13.88C68.816 12.792 68.848 11.704 68.912 10.584C67.92 10.552 66.896 10.776 66.064 11.288C65.264 11.768 64.528 12.472 63.984 13.272C63.024 14.744 62.512 16.664 62.576 18.456C62.576 18.84 62.704 19.832 62.992 20.088Z" fill="black"/>
                    </svg>
                    <svg class="hand underline" height="6" viewBox="0 0 89 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.97835 1.54527C3.40832 1.52734 4.80898 1.60302 6.2366 1.7697C14.0867 2.68622 21.9219 2.77453 29.8011 2.6967C48.8489 2.50855 67.8136 2.14845 86.8054 4.48251" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                </div>
            </div>
            <button class="sound">
                <svg xmlns="http://www.w3.org/2000/svg" height=".9em" viewBox="0 0 512 512">
                    <path d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7v72V368c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V147L192 223.8V432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V200 128c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"/>
                </svg>
            </button>
        </div>
        <div class="hand_socials">
            <div class="all_hands">
                <div class="hand_font">
                    <svg class="hand text" height="24" viewBox="0 0 83 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.872 22.016C10.912 23.776 8.128 24.704 5.792 24.704C5.216 24.704 4.672 24.672 4.192 24.544C3.744 24.448 1.76 23.872 1.376 23.616C0.96 23.392 0.608 22.944 0.48 22.496C0.128 21.184 1.12 20.032 2.336 20.032C2.56 20.032 2.784 20.064 3.008 20.16C3.936 20.512 4.896 20.864 5.888 20.864C6.688 20.864 7.52 20.672 8.224 20.288C8.32 20.256 8.512 20.192 8.512 20.096C8.512 19.328 7.072 18.272 6.496 17.824C5.632 17.152 4.768 16.48 4 15.744C3.392 15.168 2.816 14.528 2.496 13.76C2.112 12.832 2.336 11.584 2.912 10.752C4.032 9.088 5.504 7.744 7.616 7.744C9.28 7.744 11.488 9.312 12.288 10.656C12.608 11.232 12.64 12.064 12.256 12.608C11.872 13.248 11.296 13.568 10.528 13.568C10.048 13.568 9.376 13.216 9.12 12.832C8.96 12.576 7.84 11.552 7.52 11.552C7.168 11.584 6.528 12.288 6.304 12.576C6.24 12.64 6.368 12.704 6.432 12.768C7.456 13.76 8.608 14.56 9.696 15.456C11.104 16.64 12.352 18.048 12.352 20C12.384 20.704 12.192 21.408 11.872 22.016ZM25.6645 18.4C24.6405 20.768 22.6565 23.232 19.8725 23.232C17.1845 23.232 14.7205 21.248 14.1125 18.624C13.8565 17.376 13.9845 16.032 14.3045 14.784C14.9125 12.288 17.4725 7.456 20.5445 7.456C20.7365 7.456 20.9285 7.456 21.1525 7.488C21.2165 7.488 21.3125 7.424 21.4085 7.424C21.6325 7.424 21.8565 7.36 22.0805 7.424C25.0245 8.288 25.9845 10.08 26.3045 13.024C26.4645 14.816 26.3365 16.704 25.6645 18.4ZM18.1445 18.432C18.4645 18.912 19.2325 19.424 19.8405 19.424C20.6725 19.424 21.6645 17.888 21.9845 17.216C22.5925 15.904 22.6565 14.304 22.4005 12.864C22.3365 12.416 22.2405 11.936 21.9845 11.584C21.8565 11.392 21.6005 11.328 21.4085 11.232C21.3765 11.232 20.6725 11.328 20.6725 11.328C19.9365 11.968 19.3285 12.8 18.8485 13.664C18.1765 14.848 17.3445 17.344 18.1445 18.432ZM38.1978 21.024C36.6618 22.368 34.3898 23.936 32.2458 23.936C30.8378 23.936 29.4298 23.136 28.7898 21.824C28.0858 20.288 27.8298 18.496 27.8938 16.8C28.0858 12.576 30.1338 7.936 34.2618 7.936C36.0858 7.936 36.5658 8.544 37.5258 9.952C37.9738 10.592 37.9418 11.712 37.3978 12.256C37.0778 12.576 36.6938 12.864 36.2458 12.928C35.8298 12.96 35.3498 12.896 34.9658 12.672C34.6138 12.48 34.3578 12.096 34.1018 11.776C33.1418 11.904 32.4378 13.536 32.1498 14.432C31.7658 15.808 31.6058 17.28 31.8298 18.656C31.8938 19.136 31.9898 19.68 32.2458 20.096C33.3018 20.096 35.5417 18.368 36.2778 17.632C36.3418 17.536 36.7258 17.12 36.7898 17.056C37.1738 16.8 37.5898 16.576 38.0378 16.64C38.6778 16.672 39.4138 17.024 39.7018 17.6C39.9258 18.08 40.0538 18.72 39.8298 19.2C39.4778 19.936 38.8378 20.512 38.1978 21.024ZM45.0783 4.64C44.7263 4.8 44.3103 4.896 43.9263 4.896C43.3183 4.896 42.6143 4.448 42.3583 3.936C42.0703 3.36 42.0063 2.528 42.3583 2.016C42.7743 1.408 43.4783 1.056 44.1503 1.056C44.5663 1.056 45.0143 1.184 45.3663 1.504C45.8783 1.92 46.1343 2.624 46.0063 3.296C45.9103 3.84 45.5583 4.384 45.0783 4.64ZM44.9503 24.256C44.6302 24.48 44.2463 24.576 43.8623 24.576C42.1663 24.576 41.9423 23.136 41.8463 21.824C41.6543 18.656 41.6543 15.456 41.8143 12.288C41.8783 11.36 42.0383 9.6 42.5503 8.832C42.9663 8.256 43.4783 7.904 44.2143 7.904C45.2063 7.904 46.1343 8.672 46.1343 9.824C46.1343 10.304 45.9103 10.752 45.7823 11.2C45.6543 11.776 45.5583 14.592 45.5583 15.168C45.5263 16.224 45.5263 21.248 45.7183 22.24C45.8783 23.072 45.5903 23.776 44.9503 24.256ZM57.4885 19.648C56.5285 21.664 55.1525 24.608 52.5605 24.608C49.9685 24.608 48.3685 21.952 48.1125 19.616C47.8565 17.216 48.3685 14.72 49.3605 12.544C50.5445 10.08 52.1445 8 55.1525 8C56.0485 8 56.9765 8.128 57.7765 8.512C58.0645 8.672 58.3845 8.768 58.6405 8.992C59.1525 9.408 59.4405 10.24 59.2805 10.88C59.6645 11.136 59.9845 11.52 60.0805 11.936C60.2725 12.608 60.3365 13.28 60.4325 13.952C60.6565 15.904 60.8805 17.888 61.5525 19.744C62.0325 21.12 60.9765 22.336 59.7605 22.336C58.2245 22.336 57.8085 20.864 57.4885 19.648ZM51.9525 19.232C52.0165 19.712 52.2405 20.192 52.4965 20.64C53.8085 19.104 54.8325 16.192 55.4405 14.336C55.5365 14.048 56.0805 12.32 56.2085 12.032C55.7925 11.84 55.3445 11.808 54.8965 11.84C54.6085 11.84 54.2885 12.032 54.0965 12.256C52.9765 13.376 52.3685 15.104 52.0485 16.608C51.8885 17.472 51.8245 18.368 51.9525 19.232ZM67.0173 22.432C66.6653 22.688 66.2173 22.912 65.8013 22.848C65.0973 22.784 64.1693 22.4 64.0093 21.6C63.8173 20.928 63.7213 20.256 63.6893 19.584C63.5933 18.272 63.6253 16.928 63.6573 15.616C63.6893 12.576 63.8813 9.536 64.1373 6.496C64.2653 5.216 64.3293 3.904 64.7133 2.656C65.0013 1.664 65.7053 0.703999 66.8253 0.703999C67.7853 0.703999 68.7453 1.472 68.7453 2.624C68.7453 3.04 68.5533 3.456 68.3933 3.808C68.1053 4.448 67.9133 7.264 67.8813 7.936C67.6253 11.36 67.4333 14.784 67.4653 18.24C67.4973 18.944 67.4973 19.648 67.6253 20.32C67.6893 20.64 67.7853 20.992 67.6893 21.28C67.5613 21.728 67.3693 22.176 67.0173 22.432ZM81.622 22.016C80.662 23.776 77.878 24.704 75.542 24.704C74.966 24.704 74.422 24.672 73.942 24.544C73.494 24.448 71.51 23.872 71.126 23.616C70.71 23.392 70.358 22.944 70.23 22.496C69.878 21.184 70.87 20.032 72.086 20.032C72.31 20.032 72.534 20.064 72.758 20.16C73.686 20.512 74.646 20.864 75.638 20.864C76.438 20.864 77.27 20.672 77.974 20.288C78.07 20.256 78.262 20.192 78.262 20.096C78.262 19.328 76.822 18.272 76.246 17.824C75.382 17.152 74.518 16.48 73.75 15.744C73.142 15.168 72.566 14.528 72.246 13.76C71.862 12.832 72.086 11.584 72.662 10.752C73.782 9.088 75.254 7.744 77.366 7.744C79.03 7.744 81.238 9.312 82.038 10.656C82.358 11.232 82.39 12.064 82.006 12.608C81.622 13.248 81.046 13.568 80.278 13.568C79.798 13.568 79.126 13.216 78.87 12.832C78.71 12.576 77.59 11.552 77.27 11.552C76.918 11.584 76.278 12.288 76.054 12.576C75.99 12.64 76.118 12.704 76.182 12.768C77.206 13.76 78.358 14.56 79.446 15.456C80.854 16.64 82.102 18.048 82.102 20C82.134 20.704 81.942 21.408 81.622 22.016Z" fill="black"/>
                    </svg>
                    <svg class="hand underline" width="91" height="8" viewBox="0 0 91 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 6C4.7696 4.42242 8.29662 3.73073 11.3199 3.33333C17.3441 2.54147 23.0837 2 29.136 2C36.9505 2 44.7192 2.12047 52.5224 2.69136C64.7443 3.58551 76.9153 5.50376 89 2.44444" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    </svg>
                </div>
                <svg class="hand arrow" height="72" viewBox="0 0 46 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.6346 63.813C10.4091 64.6398 14.704 64.8798 18.5614 65.6565C21.2148 66.1908 23.9066 68.085 26.8525 67.884" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path d="M6.58641 64.1244C7.96331 68.8635 7.29238 73.6449 7.99683 78.4671C8.36638 80.9968 9.9681 80.5269 12.9009 79.6748C19.5473 77.7438 25.4152 73.1071 31.0195 69.5428" stroke="black" stroke-width="3" stroke-linecap="round"/>
                    <path d="M2.31403 2C6.46103 3.29594 10.4701 5.23465 14.447 6.97764C18.1482 8.59975 21.9623 10.0372 25.543 11.9207C32.8948 15.7879 41.6922 21.4448 43.8117 30.0857C45.5442 37.1489 39.4162 42.7508 35.1354 47.5765C30.8835 52.3695 26.3884 56.9362 22.1036 61.6971C20.1602 63.8564 18.5439 65.982 17.247 68.576" stroke="black" stroke-width="3" stroke-linecap="round"/>
                </svg>
            </div>
            <div class="socials">
                    <a class="github" href="https://github.com/Paul-Mallet" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
                            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                        </svg>
                    </a>
                    <a class="linkedin" href="" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                            <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
                        </svg>
                    </a>
                    <a class="x_twitter" href="https://twitter.com/PaulMal33466829" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                            <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                        </svg>
                    </a>
            </div>
        </div>
    </div>
</main>

<style>
    .left, .right
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        height: 100vh;
    }

    .left
    {
        left: 0;
        padding: 2vw 0 2vw 2vw;
    }

    .right
    {
        align-items: end;
        right: 0;
        padding: 2vw 2vw 2vw 0;
    }

    button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-size: 2rem;
        background: #ecf0f3;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgb(186, 196, 214);
    }

    .socials a
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        font-size: 2rem;
        background: #ecf0f3;
        border: none;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 2px 2px 4px rgb(186, 196, 214);
    }

    svg
    {
        fill: #1a1a1a;
        opacity: .4;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hand
    {
        fill: none;
        opacity: 1;
    }

    .left .hand_dl_mode .all_hands
    {
        top: 9%;
        left: calc(2vw + 40px);
    }

    .left .hand_dl_mode .all_hands .hand.text
    {
        margin: 16px 0 8px 0;
    }

    .left .hand_signature
    {
        opacity: 1;
    }

    .left .hand_signature .all_hands
    {
        display: flex;
        flex-direction: row;
        left: calc(2vw + 90px);
        bottom: calc(2vw + 40px);
    }

    .left .hand_signature .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin: 0 0 50px 12px;
    }

    .left .hand_signature .all_hands .hand_font .hand.text
    {
        margin-bottom: 2px;
    }

    .left .hand_signature .all_hands .hand_font .hand.text #path
    {
        stroke-dasharray: 634;
        stroke-dashoffset: 634;
        animation: sign 2s ease;
        animation-fill-mode: forwards;
    }

    @keyframes sign
    {
        from
        {
            stroke-dashoffset: 634;
        }

        to
        {
            stroke-dashoffset: 0;
        }
    }

    .left .hand_signature .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    .left .hand_signature .signature
    {
        font-size: 1.28rem;
        font-weight: 600;
    }

    .right .hand_socials .all_hands
    {
        display: flex;
        flex-direction: row;
        right: calc(2vw + 50px);
        bottom: calc(2vw + 70px);
    }

    .right .hand_socials .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .right .hand_socials .all_hands .hand_font .hand.text
    {
        margin: 0 20px 8px 0;
    }

    .right .hand_socials .all_hands .hand.arrow
    {
        margin-bottom: -20px;
    }

    .right .hand_sound .all_hands
    {
        top: calc(9% + 8px);
        right: calc(2vw + 50px);
    }

    .right .hand_sound .all_hands .hand_font
    {
        display: flex;
        flex-direction: column;
        margin-right: 48px;
    }

    .right .hand_sound .all_hands .hand.text
    {
        margin: 16px 0 8px 0;
    }

    .right .hand_sound .all_hands .hand.arrow
    {
        margin-right: -44px;
    }

    .right .socials
    {
        display: flex;
    }

    .right .socials .github,
    .right .socials .linkedin
    {
        margin-right: 12px;
    }
</style>