---

---

<div>
    <div class="left">
        <div class="hand_dl_mode">
            <button class="dl_mode">
                <svg class="dark_icon" style="" xmlns="http://www.w3.org/2000/svg" height="1.1em" viewBox="0 0 384 512" transition:persist>
                    <path id="path" d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"/>
                </svg>
                <svg class="light_icon" style="" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" transition:persist>
                    <path d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/>
                </svg>
            </button>
        </div>
        <div class="hand_signature">
            <div class="signature none">
            </div>
            <a href="https://portfolio-pm.fr/" class="none" style="position: relative;">
                <div class="icon" style="position:relative;display:inline-block;">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" style="opacity: .4;" viewBox="0 0 448 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                    </svg>
                </div>
                <div class="back">
                    <div style="position:relative;display:inline-block;">
                        <div style="position:relative;display:inline-block;">B</div>
                        <div style="position:relative;display:inline-block;">a</div>
                        <div style="position:relative;display:inline-block;">c</div>
                        <div style="position:relative;display:inline-block;">k</div>
                    </div>
                </div>
                <div class="esc" style="position: absolute; bottom: 0; right: -52px; margin-bottom: 6%; opacity: 0; pointer-events: none; animation: esc 2.4s ease-in 1s infinite alternate">
                    (ESC)
                </div>
            </a>
        </div>
    </div>
    <div class="right">
        <div class="hand_sound">
            <button class="sound">
                <audio src="../sounds/background.mp3" loop transition:persist/>
                <svg xmlns="http://www.w3.org/2000/svg" height=".9em" viewBox="0 0 512 512">
                    <path d="M499.1 6.3c8.1 6 12.9 15.6 12.9 25.7v72V368c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V147L192 223.8V432c0 44.2-43 80-96 80s-96-35.8-96-80s43-80 96-80c11.2 0 22 1.6 32 4.6V200 128c0-14.1 9.3-26.6 22.8-30.7l320-96c9.7-2.9 20.2-1.1 28.3 5z"/>
                </svg>
                <svg class="not" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 512 512" transition:persist>
                    <path d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
                </svg>
            </button>
        </div>
        <div class="hand_socials">
            <a class="github" href="https://github.com/Paul-Mallet" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 496 512">
                    <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                </svg>
            </a>
            <a class="linkedin" href="https://www.linkedin.com/in/paul-mallet-dev/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                    <path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/>
                </svg>
            </a>
            <a class="x_twitter" href="https://twitter.com/PaulMal33466829" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<style>
    .left, .right
    {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        height: 100svh;
    }

    .left
    {
        left: 0;
        padding: 32px 0 32px 32px;
    }

    .right
    {
        align-items: end;
        right: 0;
        padding: 32px 32px 32px 0;
    }

    button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(32px + 1.2vw);
        height: calc(32px + 1.2vw);
        font-size: calc(1rem + 1.2vw);
        background: var(--clr-bg);
        border: none;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 2px 2px 4px var(--clr-shadow);
    }

    button:active
    {
        box-shadow: none;
    }

    svg
    {
        fill: var(--clr-font);
        opacity: .4;
    }

    .all_hands
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hand
    {
        fill: none;
        opacity: 1;
    }

    .hand_dl_mode
    {
        position: relative;
        margin-right: 32px;
    }

    .dark_icon, .light_icon
    {
        position: absolute;
        translate: none;
        rotate: none;
        transform-origin: 50% 50%;
    }

    .dark_icon
    {
        transform: translate(0px, 0px);
        opacity: .4;
    }

    .light_icon
    {
        transform: translate(0px, 0px);
        opacity: 0;
        scale: 0;
    }

    .hand_signature .signature
    {
        width: 75px;
        height: 50px;
    }

    .hand_signature div
    {
        font-size: 1.28rem;
        font-weight: 600;
    }

    .hand_signature a
    {
        display: flex;
        align-items: end;
        color: var(--clr-font);
        font-size: calc(1.28rem);
        font-weight: 600;
        margin-bottom: -4%;
    }

    .back
    {
        display: flex;
        align-items: center;
        font-size: 1.28rem;
        font-weight: 600;
        margin-left: 6px;
        margin-bottom: 4%;
        opacity: .4;
        transition: .2s;
    }

    .hand_signature:hover .esc
    {
        display: none;
        font-size: 1rem;
    }

    .hand_signature:hover .back
    {
        margin-left: 12px;
    }

    @keyframes esc
    {
        from
        {
            opacity: 0;
        }
        to
        {
            opacity: .32;
        }
    }

    .sound
    {
        position: relative;
    }

    .sound .not
    {
        position: absolute;
        bottom: 0;
        right: 0;
        fill: var(--clr-span);
        border-radius: 8px;
        opacity: .72;
    }

    .none
    {
        display: none !important;
        opacity: 0;
    }

    .hand_socials
    {
        display: flex;
    }

    .hand_socials .github,
    .hand_socials .linkedin
    {
        margin-right: 12px;
    }

    .hand_socials a
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(32px + 1.2vw);
        height: calc(32px + 1.2vw);
        font-size: calc(1em + 1.2vw);
        background: var(--clr-bg);
        border: none;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 2px 2px 4px var(--clr-shadow);
    }

    .hand_socials a:active
    {
        box-shadow: none;
    }

    @media(max-width: 1280px)
    {
        .hand_socials a
        {
            font-size: calc(1em + 1.5vw);
        }

        .hand_signature .signature
        {
            width: 75px;
            height: 44px;
        }

        .hand_signature div
        {
            font-size: 1.14rem;
        } 
    }

    @media(max-width: 640px)
    {
        .hand_signature .signature
        {
            width: 66px;
            height: 38px;
        }

        .hand_signature div
        {
            font-size: 1rem;
        }

        .hand_signature .icon, .hand_signature .back div
        {
            font-size: calc(1rem + .4vw);
        }

        .hand_signature .esc
        {
            font-size: calc(.8rem + .4vw);
        }

        .sound .not
        {
            height: 100%;
        }

        .hand_socials a svg
        {
            height: 1.2em;
        }
    }
</style>

<script src="../scripts/buttons.js" />