---
const { width } = Astro.props;
const { height } = Astro.props;
const { frame_tr } = Astro.props;
---

<main class="frame_container" transition:name={frame_tr}>
    <slot />
</main>



<style define:vars={{width, height}}>
    .frame_container
    {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--width);
        height: var(--height);
        border: none;
        border-radius: 32px;
        box-shadow: inset 8px 8px 16px var(--clr-shadow);
        z-index: 1;
        overflow: hidden;
        transition: .32s;
    }
</style>