---
const menu = ["about", "projects", "contact"];
---

<nav>
    <ul>
        {menu.map((link) =>
            <li><a href={"/" + (link)}>{link}</a></li>
        )}
    </ul>
</nav>

<style>
    nav
    {
        z-index: 10;
    }

    ul
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a
    {
        color: var(--clr-font);
        font-size: calc(1.6rem + 1.6vw);
        font-weight: 800;
        line-height: 2;
        letter-spacing: .2rem;
        text-transform: capitalize;
        opacity: .4;
        transition: .32s;
    }

    a:hover
    {
        font-size: calc(1.8rem + 1.6vw);
        letter-spacing: 4px;
        opacity: 1;
    }
</style>