---
import { ViewTransitions } from "astro:transitions";
import Buttons from "../components/Buttons.astro";
import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="" style="" transition:persist>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ecf0f3">
    <link rel="icon" href="../favicon.svg">
    <!--<link rel="mask-icon" href="mask-icon.svg" color="#000000">-->
    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->
    <title>{pageTitle}</title>
    <ViewTransitions />
</head>
<body>
    <script>
        const dark_icon = document.querySelector(".left .dl_mode .dark_icon");
        const light_icon = document.querySelector(".left .dl_mode .light_icon");
        const setDarkMode = () => {
            const theme = localStorage.getItem("theme");
            document.documentElement.className = theme;
            if (theme === "dark")
            {
                dark_icon.setAttribute("style", "opacity:0;");
                light_icon.setAttribute("style", "opacity:.4;scale:1;");
            }
        };
        setDarkMode();

        document.addEventListener("astro:after-swap", setDarkMode);
    </script>
    <slot />
    <Buttons />
</body>
</html>